body .footer-wrapper {
    display: block !important;
}
.beb6dc28 {
    background-color: #131316;
}
.beb6dc28 .e2fff687 {
    font-size: 14px;
    background-color: inherit;
    text-align: left;
    display: flow-root;
    padding: 60px 20px;
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
}
.beb6dc28 .e2fff687 .ce1f9e13 {
    margin-bottom: 15px;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid #fff;
}

.beb6dc28 .e2fff687 .ce1f9e13 .fa9ae9d7 {
    max-width: 400px;
    padding-right: 40px;
}
.eb13f307 {
    position: relative;
}
.beb6dc28 .e2fff687 h2 {
    font-size: 43px;
    line-height: 44px;
    font-weight: 400;
    text-align: left;
    color: inherit;
}
.eb13f307 .abc20fb3[aria-label=signup] {
    color: #131316;
    background-color: #fff;
    border-color: #fff;
}
.eb13f307 .abc20fb3 {
    margin-block: 20px;
    padding: 14px 10px;
    border: 2px solid;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: none;
    height: auto;
    text-align: center;
    display: inline-block;
    letter-spacing: normal;
    width: auto;
    min-width: 110px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    white-space: nowrap;
}
.eb13f307 .abc20fb3+.abc20fb3 {
    margin-left: 20px;
}
.eb13f307 .ca0fb6d9 {
    display: block;
    font-size: 15px;
}

.beb6dc28 .e2fff687 .ce1f9e13 .e5cc3d28 {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    flex-shrink: 0;
}

.a1d7703b {
    color: #b7b7b7;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
}
.fa317b72 {
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
}

.fa317b72 svg {
    margin-left: 10px;
}

.d83dcb4c {
    margin-left: 40px;
    text-align: left;
}
.d83dcb4c .ba496403 {
    color: #b7b7b7;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
}
.d83dcb4c ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.d83dcb4c ul li:first-of-type {
    padding-top: 10px;
}
.d83dcb4c ul li {
    padding-top: 13px;
    max-width: 140px;
    word-break: break-word;
}
.beb6dc28 .e2fff687 a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    white-space: normal;
}
.beb6dc28 .e2fff687 .c17a4fd0 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.f234f27f img{
    width: 150px;
}
.beb6dc28 .e2fff687 .c17a4fd0 .f234f27f {
    display: inline-flex;
    align-items: center;
}
.beb6dc28 .e2fff687 .c17a4fd0 .f234f27f span {
    margin-left: 24px;
    white-space: nowrap;
}
.beb6dc28 .e2fff687 .c17a4fd0 .a174fe8c {
    display: flex;
    flex-wrap: wrap;
}
.beb6dc28 .e2fff687 .c17a4fd0 .a174fe8c a {
    font-weight: 400;
    line-height: 22px;
}
.beb6dc28 .e2fff687 a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    white-space: normal;
}
.beb6dc28 .e2fff687 .c17a4fd0 .a174fe8c a+a {
    margin-left: 25px;
}

@media screen and (max-width: 1100px)  {
    .beb6dc28 .e2fff687 .ce1f9e13 {
        padding-left: calc(48% - 369px);
        flex-direction: column;
        align-items: stretch;
    }
    .beb6dc28 .e2fff687 .ce1f9e13 .fa9ae9d7 {
        max-width: 1000px;
        padding-right: 0;
    }
    
    .eb13f307 {
        display: flex;
        align-items: flex-start;
    }
    .eb13f307 .bb407533 {
        margin-left: 45px;
    }
    .eb13f307 .ca0fb6d9 {
        position: absolute;
        left: 0;
        bottom: -15px;
    }
    .beb6dc28 .e2fff687 .ce1f9e13 .e5cc3d28 {
        margin-left: 0;
        margin-top: 60px;
    }
    .eb13f307 .abc20fb3 {
        margin-block: 0;
    }
}

@media screen and (max-width: 815px){
    .beb6dc28 .e2fff687 .ce1f9e13 .e5cc3d28 {
        flex-direction: column;
    }
    .d83dcb4c {
        margin-left: 0;
        margin-top: 30px;
    }
}