/* html[data-uniframe-theme=light] .c0f4158f a {
  background-image: url(https://res.cloudinary.com/dxwhz3r81/image/upload/v1715942424/ezcryptox.ioo-01_y2dny9.png);
} */



html[data-uniframe-theme=light] .ce727619.f53365fb {
  --uniframe-button-text-color: #fff;
  --uniframe-button-bg-color: rgba(0,113,188,255);
  --uniframe-button-bd-color: #2c6ccc;
  --uniframe-button-hover-text-color: #fff;
  --uniframe-button-hover-bg-color: rgba(0,113,188,255);
  --uniframe-button-hover-bd-color: rgba(0,113,188,255);
  --uniframe-button-disabled-text-color: #b8b8b8;
  --uniframe-button-disabled-bg-color: #f2f2f2;
  --uniframe-button-disabled-bd-color: #f2f2f2;
}
html[data-uniframe-theme=light] .ce727619.fc91b736 {
  --uniframe-button-text-color: rgba(0,113,188,255);
  --uniframe-button-bg-color: #fff;
  --uniframe-button-bd-color: #616161;
  --uniframe-button-hover-text-color: rgba(0,113,188,255);
  --uniframe-button-hover-bg-color: #f2f2f2;
  --uniframe-button-hover-bd-color: #616161;
  --uniframe-button-disabled-text-color: #b8b8b8;
  --uniframe-button-disabled-bg-color: #fff;
  --uniframe-button-disabled-bd-color: #e3e3e3;
}

.uniframe-root button, .uniframe-root h1, .uniframe-root h2, .uniframe-root h3, .uniframe-root h4, .uniframe-root h5, .uniframe-root h6, .uniframe-root input, .uniframe-root select, .uniframe-root textarea {
  font: inherit;
}

html[data-uniframe-theme=light] .eb58c575 span {
  color: #2b2b2e;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

svg:not(:root) {
  overflow: hidden;
}

.uniframe-root a, .uniframe-root a:hover {
  text-decoration: none;
}

.uniframe-root [type=button], .uniframe-root [type=reset], .uniframe-root [type=submit], .uniframe-root button {
  -webkit-appearance: button;
}

._960f9952 {
  width: 100%;
  height: 50px;
  padding: 0 48px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(180deg, rgba(43, 43, 46, .75), rgba(43, 43, 46, .75));
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  border-radius: 16px 16px 0 0;
  color: #fff;
  z-index: 3;
}
.w1200 ._0994c341 {
  max-width: 1136px;
}
._960f9952 ._0994c341 {
  position: relative;
  max-width: 1312px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}
._960f9952 ._0994c341 {
  position: relative;
  max-width: 1312px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}
._960f9952 ._0994c341 ._88bac86c {
  margin-bottom: 1px;
  font-size: 18px;
  line-height: 26px;
}
._960f9952 ._0994c341 ._88bac86c strong {
  color: #ffdb1c;
}
._960f9952 ._0994c341 ._7c4620f1 {
  flex-shrink: 0;
  position: relative;
  margin-left: auto;
  padding: 4px 32px;
  background: linear-gradient(102.05deg, #83f57f 1.1%, #d7f50d 98.53%);
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
}
._960f9952 ._0994c341 ._7c4620f1 ._7ccf3b75 {
  position: absolute;
  top: 2px;
  right: -42px;
}

._48cc2c66:disabled.polo-btn:not(.is-loading) {
  opacity: 0.7;
  cursor: default;
}

._0ccbd664:disabled.polo-btn:not(.is-loading) {
  opacity: 0.7;
  cursor: default;
}

.svgicon {
    fill: currentColor;
    overflow: hidden;
    stroke-width: 0;
    outline: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* ---------INPUT STYLES-------- */
.polo-btn-button.polo-btn-positive {
    color: #fff;
    background-color: #1a8f5c;
}
.polo-btn-small {
    height: 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.polo-btn {
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(.4,.4,.25,1.35);
    border: 1px solid transparent;
    background-color: transparent;
    font-family: source-sans3-regular;
}
.polo-input-default {
    border-color: #ccc;
    background-color: transparent;
}
.polo-input-small {
    height: 36px;
}
.polo-input-medium {
    height: 40px;
}
.polo-input {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 4px;
    align-items: center;
    transition: all .35s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-color: #ccc;
    font-family: source-sans3-regular;
}
.polo-input>span.input-prefix {
    font-weight: 400;
    padding-left: 10px;
}
.polo-input>span {
    height: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #616161;
}
.polo-input-small>input {
    padding: 0 9px;
}
.polo-input.left>input {
    text-align: left;
}
.polo-input-medium>input {
    padding: 0 10px;
}
.polo-input.right>input {
    text-align: right;
}
.polo-input>span.input-suffix {
    font-weight: 600;
    padding-right: 10px;
}
.polo-input>input {
    flex: 1;
    width: 100%;
    height: 100%;
    outline: none;
    color: initial;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-family: source-sans3-regular;
    color: #131316;
}
.polo-switch {
    display: flex;
    align-items: center;
    font-family: source-sans3-regular;
}
.polo-switch-middle .polo-switch-box {
    width: 28px;
    min-width: 28px;
    height: 16px;
}

.polo-switch-box {
    margin-right: 8px;
    position: relative;
    display: inline-block;
}
.polo-switch * {
    box-sizing: border-box;
}
.polo-switch.is-disabled .polo-switch-box:before {
    border-color: #e3e3e3;
    background-color: #fff;
}

.polo-switch .polo-switch-box:before {
    border-color: transparent;
    background-color: #b8b8b8;
}
.polo-switch-box:before {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid;
}
.polo-switch-box:after, .polo-switch-box:before {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
}
.polo-switch.is-disabled input {
    cursor: not-allowed;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.polo-switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.polo-switch.is-disabled .polo-switch-box:after {
    background-color: #e3e3e3;
}
.polo-switch .polo-switch-box:after, body.dark-theme .polo-switch .polo-switch-box:after {
    background-color: #fff;
}
.polo-switch-middle .polo-switch-box:after {
    width: 12px;
    height: 12px;
}
.polo-switch-box:after {
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #b8b8b8;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: all .3s cubic-bezier(.4,.4,.25,1.35);
}
.polo-switch-box:after, .polo-switch-box:before {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
}

.form-item {
    font-family: source-sans3-regular;
}
.form-item .form-item-content {
    position: relative;
}
.form-item .tool-box {
    z-index: 9;
    left: -5px;
    display: flex;
    position: absolute;
    pointer-events: none;
    width: calc(100% + 10px);
    bottom: calc(100% + 8px);
}
.form-item .tool-box .tooltips {
    left: 50%;
    padding: 10px;
    color: #fafafa;
    font-size: 12px;
    max-width: 256px;
    font-weight: 500;
    line-height: 12px;
    position: relative;
    visibility: hidden;
    border-radius: 3px;
    background-color: rgba(97, 97, 97, .9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .01);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, .7));
    transition: visibility 0s .15s;
}
/* ---------ELEMENT UI Styles-------- */
.el-tooltip.tips-text, .el-tooltip .tips-text {
    cursor: pointer;
    border-bottom: .5px dashed;
    border-bottom-color: #878787;
}
.el-dropdown {
    display: inline-block;
    position: relative;
}
.el-button, .el-dropdown {
    color: #606266;
    font-size: 14px;
}
.el-dropdown-menu {
    background-color: #fff;
    border-color: #e3e3e3;
}
.el-dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 0;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.el-dropdown-menu>li.item, .el-dropdown-menu>li:not(.is-disabled) {
    display: flex;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 18px;
    align-items: center;
    white-space: nowrap;
    color: #131316;
}
.el-dropdown-menu>li.item.active, .el-dropdown-menu>li.item:hover, .el-dropdown-menu>li:not(.is-disabled).active, .el-dropdown-menu>li:not(.is-disabled):hover {
    background-color: #e3e3e3;
}
.el-table {
    background: none;
}

.el-table--small {
    font-size: 12px;
}
.el-table--fit {
    border-right: 0;
    border-bottom: 0;
}
.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    color: #606266;
}
.el-table, .el-table__expanded-cell {
    background-color: #fff;
}
.el-checkbox-button__inner, .el-table, .el-tag {
    -webkit-box-sizing: border-box;
}
.el-table .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
.el-table__footer-wrapper, .el-table__header-wrapper {
    overflow: hidden;
}

.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
    width: 100%;
}
.el-table__body, .el-table__footer, .el-table__header {
    table-layout: fixed;
    border-collapse: separate;
}
.el-table thead {
    color: #909399;
    font-weight: 500;
}
.el-table tr {
    background-color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid #ebeef5;
}
.el-table th.el-table__cell {
    background: none;
}
.el-table th.el-table__cell {
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
.el-checkbox, .el-checkbox-button__inner, .el-table th.el-table__cell {
    -webkit-user-select: none;
    -ms-user-select: none;
}
.el-table--small .el-table__cell {
    padding: 8px 0;
}
.el-table .el-table__cell {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
}
.el-table th.el-table__cell>.cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
}
.el-table--scrollable-x .el-table__body-wrapper {
    overflow-x: auto;
}
.el-table__body-wrapper {
    overflow: hidden;
    position: relative;
}
.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
    width: 100%;
}
.el-table__body, .el-table__footer, .el-table__header {
    table-layout: fixed;
    border-collapse: separate;
}
.el-table__empty-block {
    min-height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-table__empty-text {
    line-height: 60px;
    width: 50%;
    color: #909399;
}
.el-table__column-resize-proxy {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #ebeef5;
    z-index: 10;
}
li, ol, ul {
    list-style-type: none;
}




.ant-tabs-nav .ant-tabs-tab {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #878787
}

[data-theme=dark] .ant-tabs-nav .ant-tabs-tab {
    color: #b8b8b8
}

.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
    color: #131316
}

[data-theme=dark] .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
    color: #fff
}

.ant-tabs-bar {
    border-color: #f2f2f2
}

[data-theme=dark] .ant-tabs-bar {
    border-color: #2b2b2e
}

.ant-tabs-ink-bar {
    height: 4px!important;
    background: #1a8f5c
}

[data-theme=dark] .ant-tabs-ink-bar {
    background: #119e5f
}

/* DARK THEME */

[data-theme=dark] .modal-box {
    color: #fff
}
[data-theme=dark] .modal-box .close>.icon-close:after,[data-theme=dark] .modal-box .close>.icon-close:before {
    background-color: #e3e3e3
}

[data-theme=dark] .vm--modal {
    box-shadow: 0 6px 16px rgba(0,0,0,.6)
}
[data-theme=dark] .polo-btn-button.polo-btn-primary {
    color: #000;
    background-color: #fff
}

[data-theme=dark] .polo-btn-button.polo-btn-primary:hover {
    color: #000;
    background-color: #fafafa
}
[data-theme=dark] .polo-btn-button.polo-btn-primary:active {
    color: #000;
    background-color: #fafafa
}

[data-theme=dark] .polo-btn-button.polo-btn-primary .icon-loading {
    border-color: #000
}


[data-theme=dark] .polo-btn-button.polo-btn-positive:hover {
    color: #fff;
    background-color: #119e5f
}

[data-theme=dark] .polo-btn-button.polo-btn-positive:active {
    color: #fff;
    background-color: #119e5f
}
[data-theme=dark] .polo-btn-button.polo-btn-positive {
    color: #fff;
    background-color: #106f44
}
[data-theme=dark] .polo-btn-button.polo-btn-positive .icon-loading {
    border-color: #fff
}
[data-theme=dark] .polo-btn-button.polo-btn-negative {
    color: #fff;
    background-color: #9a2c2e
}
[data-theme=dark] .polo-btn-button.polo-btn-negative:hover {
    color: #fff;
    background-color: #d64d4f
}
[data-theme=dark] .polo-btn-button.polo-btn-negative:active {
    color: #fff;
    background-color: #d64d4f
}
[data-theme=dark] .polo-btn-button.polo-btn-negative .icon-loading {
    border-color: #fff
}

[data-theme=dark] .polo-btn-button.polo-btn-secondary {
    color: #fff;
    background-color: #2b2b2e
}
[data-theme=dark] .polo-btn-button.polo-btn-secondary:hover {
    color: #fff;
    background-color: #616161
}
[data-theme=dark] .polo-btn-button.polo-btn-secondary:active {
    color: #fff;
    background-color: #616161
}
[data-theme=dark] .polo-btn-button.polo-btn-secondary .icon-loading {
    border-color: #fff
}
[data-theme=dark] .polo-btn-button.is-disabled:disabled {
    color: #878787;
    background-color: #616161
}
[data-theme=dark] .polo-btn-text.polo-btn-primary {
    color: #fff
}

[data-theme=dark] .polo-btn-text.polo-btn-primary:hover {
    color: #fafafa
}
[data-theme=dark] .polo-btn-text.polo-btn-primary:active {
    color: #fafafa
}
[data-theme=dark] .polo-btn-text.polo-btn-primary .icon-loading {
    border-color: #fff
}
[data-theme=dark] .polo-btn-text.polo-btn-positive:hover {
    color: #119e5f
}

[data-theme=dark] .polo-btn-text.polo-btn-positive:active {
    color: #119e5f
}

[data-theme=dark] .polo-btn-text.polo-btn-positive .icon-loading {
    border-color: #106f44
}
[data-theme=dark] .polo-btn-text.polo-btn-secondary:active {
    color: #878787
}
[data-theme=dark] .polo-btn-text.polo-btn-secondary .icon-loading {
    border-color: #fff
}
[data-theme=dark] .polo-btn-outline.polo-btn-primary:active {
    color: #fafafa;
    border-color: #fafafa
}
[data-theme=dark] .polo-btn-outline.polo-btn-primary:hover {
    color: #fafafa;
    border-color: #fafafa
}
[data-theme=dark] .polo-btn-outline.polo-btn-primary {
    color: #fff;
    border-color: #fff
}
[data-theme=dark] .polo-btn-text.is-disabled:disabled {
    color: #b8b8b8
}
[data-theme=dark] .polo-btn-outline.polo-btn-primary .icon-loading {
    border-color: #fff
}

[data-theme=dark] .polo-btn-outline.polo-btn-positive:hover {
    color: #119e5f;
    border-color: #119e5f
}
[data-theme=dark] .polo-btn-text.polo-btn-negative:active {
    color: #d64d4f
}

[data-theme=dark] .polo-btn-text.polo-btn-negative:hover {
    color: #d64d4f
}

[data-theme=dark] .polo-btn-text.polo-btn-secondary:hover {
    color: #878787
}
[data-theme=dark] .polo-btn-text.polo-btn-positive {
    color: #106f44
}
[data-theme=dark] .polo-btn-text.polo-btn-secondary {
    color: #616161
}

[data-theme=dark] .polo-btn-outline.polo-btn-secondary {
    color: #fff;
    border-color: #2b2b2e
}
[data-theme=dark] .polo-btn-outline.polo-btn-positive {
    color: #106f44;
    border-color: #106f44
}

[data-theme=dark] .polo-btn-outline.polo-btn-positive .icon-loading {
    border-color: #106f44
}
[data-theme=dark] .polo-btn-outline.polo-btn-positive:active {
    color: #119e5f;
    border-color: #119e5f
}
[data-theme=dark] .polo-btn-outline.polo-btn-negative {
    border-color: #9a2c2e
}
[data-theme=dark] .polo-btn-outline.polo-btn-negative:hover {
    color: #d64d4f;
    border-color: #d64d4f
}

[data-theme=dark] .polo-btn-outline.polo-btn-negative:active {
    color: #d64d4f;
    border-color: #d64d4f
}
[data-theme=dark] .polo-btn-outline.polo-btn-secondary:hover {
    color: #fff;
    border-color: #616161
}
[data-theme=dark] .polo-btn-outline.polo-btn-secondary:active {
    color: #fff;
    border-color: #616161
}
[data-theme=dark] .polo-btn-outline.polo-btn-secondary .icon-loading {
    border-color: #fff
}

[data-theme=dark] .polo-btn-outline.is-disabled:disabled {
    color: #616161;
    border-color: #616161
}