.vfm--fixed {
    position: fixed
}

.vfm--absolute {
    position: absolute
}

.vfm--inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.vfm--overlay {
    z-index: -1;
    background-color: #00000080
}

.vfm--prevent-none {
    pointer-events: none
}

.vfm--prevent-auto {
    pointer-events: auto
}

.vfm--outline-none:focus {
    outline: none
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.vfm-fade-enter-active {
    animation: fade-in .3s ease
}

.vfm-fade-leave-active {
    animation: fade-out .3s ease
}

.vfm-bounce-back {
    transition-property: transform;
    transition-duration: .3s
}

.vfm-slide-down-enter-active,.vfm-slide-down-leave-active,.vfm-slide-up-enter-active,.vfm-slide-up-leave-active {
    transition: transform .3s ease
}

.vfm-slide-down-enter-from,.vfm-slide-down-leave-to {
    transform: translateY(100vh)!important
}

.vfm-slide-up-enter-from,.vfm-slide-up-leave-to {
    transform: translateY(-100vh)!important
}

.vfm-slide-left-enter-active,.vfm-slide-left-leave-active,.vfm-slide-right-enter-active,.vfm-slide-right-leave-active {
    transition: transform .3s ease
}

.vfm-slide-right-enter-from,.vfm-slide-right-leave-to {
    transform: translate(100vw)!important
}

.vfm-slide-left-enter-from,.vfm-slide-left-leave-to {
    transform: translate(-100vw)!important
}

.vfm-swipe-banner-back,.vfm-swipe-banner-forward {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 27px;
    z-index: 10
}

.vfm-swipe-banner-back {
    left: 0
}

.vfm-swipe-banner-forward {
    right: 0
}

[polo-tooltip] {
    position: relative
}

[polo-tooltip]>* {
    display: inline-block
}

[polo-tooltip][dashed=true] {
    border-bottom: .5px dashed #878787
}

[polo-tooltip]:after,[polo-tooltip]:before {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0
}

[polo-tooltip]:before {
    content: "";
    border: 5px solid #0000;
    z-index: 1001
}

[polo-tooltip]:after {
    content: attr(polo-tooltip);
    min-width: 120px;
    padding: 10px 7px;
    z-index: 1060;
    text-align: left;
    line-height: 1.5;
    text-decoration: none;
    word-wrap: break-word;
    border-radius: 4px;
    background-color: #616161;
    box-shadow: 0 2px 8px #00000026;
    color: #fff
}

[polo-tooltip]:hover:after,[polo-tooltip]:hover:before {
    display: block
}

[polo-tooltip]:not([position]):before,[polo-tooltip][position^=top]:before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #616161
}

[polo-tooltip]:not([position]):after,[polo-tooltip][position^=top]:after {
    bottom: calc(100% + 5px)
}

[polo-tooltip]:not([position]):after,[polo-tooltip]:not([position]):before,[polo-tooltip][position^=top]:after,[polo-tooltip][position^=top]:before {
    left: 50%;
    transform: translate(-50%,-.5em)
}

[polo-tooltip][position^=bottom]:before {
    top: 105%;
    border-top-width: 0;
    border-bottom-color: #616161
}

[polo-tooltip][position^=bottom]:after {
    top: calc(105% + 5px)
}

[polo-tooltip][position^=bottom]:after,[polo-tooltip][position^=bottom]:before {
    left: 50%;
    transform: translate(-50%,.5em)
}

[polo-tooltip][position^=left]:before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #616161;
    left: -5px;
    transform: translate(-.5em,-50%)
}

[polo-tooltip][position^=left]:after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em,-50%)
}

[polo-tooltip][position^=right]:before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #616161;
    right: -5px;
    transform: translate(.5em,-50%)
}

[polo-tooltip][position^=right]:after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em,-50%)
}

[polo-tooltip]:not([position]):hover:after,[polo-tooltip]:not([position]):hover:before,[polo-tooltip][position^=bottom]:hover:after,[polo-tooltip][position^=bottom]:hover:before,[polo-tooltip][position^=top]:hover:after,[polo-tooltip][position^=top]:hover:before {
    animation: tooltips-vert .3s ease-out forwards
}

[polo-tooltip][position^=left]:hover:after,[polo-tooltip][position^=left]:hover:before,[polo-tooltip][position^=right]:hover:after,[polo-tooltip][position^=right]:hover:before {
    animation: tooltips-horz .3s ease-out forwards
}

[polo-tooltip=""]:after,[polo-tooltip=""]:before {
    display: none!important
}

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%)
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translateY(-50%)
    }
}

.uniframe-root.vfm__content {
    --border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: var(--border-radius)
}

html[data-uniframe-theme=light] .uniframe-root.vfm__content {
    background-color: #fff;
    box-shadow: 0 6px 16px #0000004d
}

html[data-uniframe-theme=dark] .uniframe-root.vfm__content {
    background-color: #1f1f24
}

.uniframe-root.vfm__content>.icon-close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0000;
    width: 24px;
    height: 24px;
    transition: opacity .3s
}

html[data-uniframe-theme=light] .uniframe-root.vfm__content>.icon-close {
    color: #2b2b2e
}

html[data-uniframe-theme=dark] .uniframe-root.vfm__content>.icon-close {
    color: #e3e3e3
}

.uniframe-root.vfm__content>.icon-close:hover {
    opacity: .8
}

.cfb48486 {
    width: 450px;
    overflow: hidden
}

.a57f6789 ul {
    display: flex;
    align-items: center;
    padding: 20px 25px 0!important
}

html[data-uniframe-theme=light] .a57f6789 ul {
    border-bottom: 1px solid #e3e3e3
}

html[data-uniframe-theme=dark] .a57f6789 ul {
    border-bottom: 1px solid #2b2b2e
}

.a57f6789 li {
    height: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #878787;
    cursor: pointer;
    transition: all .3s
}

.a57f6789 li:first-child {
    margin-right: 34px
}

html[data-uniframe-theme=light] .a57f6789 li.a51c0809 {
    border-bottom: 3px solid #119e5f;
    color: #131316
}

html[data-uniframe-theme=dark] .a57f6789 li.a51c0809 {
    border-bottom: 3px solid #119e5f;
    color: #fff
}

html[data-uniframe-theme=light] .a57f6789 li:hover {
    color: #131316
}

html[data-uniframe-theme=dark] .a57f6789 li:hover {
    color: #fff
}

.b6cfa543 {
    min-height: 400px;
    font-weight: 600
}

.b6cfa543 ul {
    padding: 16px 26px!important;
    font-weight: 600;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,124px);
    gap: 12px
}

.b6cfa543 li {
    line-height: 2.5;
    cursor: pointer;
    transition: color .3s;
}

html[data-uniframe-theme=light] .b6cfa543 li {
    color: #878787
}

html[data-uniframe-theme=light] .b6cfa543 li.a51c0809,html[data-uniframe-theme=light] .b6cfa543 li:hover {
    color: #131316
}

html[data-uniframe-theme=dark] .b6cfa543 li {
    color: #878787
}

html[data-uniframe-theme=dark] .b6cfa543 li.a51c0809,html[data-uniframe-theme=dark] .b6cfa543 li:hover {
    color: #fff
}
