body.v3-body .app-markets {
    flex: 1;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
}
._9df3dcbf {
    flex: 1;
    display: flex;
    min-width: 1200px;
    flex-direction: column;
    background-color: #f2f2f2;
}
._9df3dcbf ._1e5e2a71 {
    margin: 0 auto;
}
._9df3dcbf ._4b9aaf1e {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}

._9df3dcbf ._4b9aaf1e .c4f3185a {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #2b2b2e;
}
._254714c9 {
    gap: 24px;
    display: flex;
    margin-top: 16px;
}
._254714c9 ._9502b055 {
    height: 193px;
    width: calc(33.333% - 16px);
}
.a1fc5931 {
    display: flex;
    border-radius: 12px;
    padding: 20px 0;
    flex-direction: column;
    transition: box-shadow .35s;
    color: #131316;
    background-color: #fff;
}
.a1fc5931 ._67267334 {
    display: flex;
    font-size: 20px;
    padding: 0 24px;
    line-height: 28px;
    align-items: center;
}
.a1fc5931 .d8722e51 {
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 14px 12px 0;
    position: relative;
}
.a1fc5931 .d8722e51 .a598ebf7 {
    overflow: auto;
}
.a1fc5931 .d8722e51 a._65beae1d {
    display: flex;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 2px;
    color: #131316;
}
.a1fc5931 .d8722e51 a._65beae1d .f0877254:first-child {
    width: 170px;
}
.a1fc5931 ._47d87a5c {
    margin-right: 8px;
}
._5f81b418 {
    width: 24px;
    height: 24px;
    font-size: 0;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    background: no-repeat 50% / contain #eee;
}
._5f81b418 ._390cb02c {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}
.a1fc5931 .d8722e51 a._65beae1d .f0877254:nth-child(2) {
    flex: 1;
}
.a1fc5931 .d8722e51 a._65beae1d .f0877254 {
    display: flex;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
}
.a1fc5931 .d8722e51 a._65beae1d .f0877254:last-child {
    justify-content: flex-end;
}
.a1fc5931 .d8722e51 a._65beae1d .f0877254 {
    display: flex;
    font-size: 14px;
    line-height: 23px;
    align-items: center;
}
.a1fc5931 .a1a0ec07 {
    color: #1a8f5c;
}
.a1fc5931 .aac7afc5 {
    color: #c44749;
}
._9df3dcbf ._09ad3d84, ._9df3dcbf .d7b95752 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
._9df3dcbf .d7b95752 {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 100px;
    border-radius: 14px 14px 0 0;
    background-color: #fff;
}
._9df3dcbf ._09ad3d84, ._9df3dcbf .d7b95752 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
._9df3dcbf .d7b95752 .d6b393ac {
    top: 50px;
    z-index: 10;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
}
._9df3dcbf ._1e5e2a71 {
    margin: 0 auto;
}
.b0c94aab {
    display: flex;
    padding-top: 24px;
    padding-bottom: 16px;
    flex-direction: column;
    border-radius: 14px 14px 0 0;
    background-color: #fff;
}
.b0c94aab .c7e3414c {
    display: flex;
    justify-content: space-between;
}
.b0c94aab ._1891a9f4 {
    gap: 24px;
    display: flex;
    align-items: center;
}
.b0c94aab ._1891a9f4>span {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    line-height: 28px;
    align-items: center;
    color: #616161;
}
.b0c94aab ._1891a9f4>span>svg {
    margin-right: 8px;
    color: #b8b8b8;
}
.b0c94aab ._1891a9f4>span.b2b60cf7 {
    font-weight: bold;
    color: #2b2b2e;
}
.b0c94aab .c7e3414c ._21d80562 {
    width: 210px;
}
.polo-input-default {
    border-color: #ccc;
    background-color: transparent;
}
.polo-input-small {
    height: 36px;
}
.polo-input {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 4px;
    align-items: center;
    transition: all .35s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-color: #ccc;
}
.b0c94aab .c7e3414c .c8c021df {
    margin-left: 12px;
    color: #878787;
}
.polo-input>span {
    height: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #616161;
}
.polo-input.left>input {
    text-align: left;
}
.polo-input-small>input {
    padding: 0 9px;
}
.polo-input>input {
    flex: 1;
    width: 100%;
    height: 100%;
    outline: none;
    color: initial;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color: #131316;
}

.b0c94aab ._9ee5e188 {
    flex: 1;
    display: flex;
    margin-top: 25px;
    align-items: center;
}
._5e5404d1 {
    flex: 1;
    height: 24px;
    display: flex;
    position: relative;
}
._5e5404d1._5527c494:before {
    left: 20px;
    background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .9), hsla(0, 0%, 100%, 0));
}
._5e5404d1._5527c494:after, ._5e5404d1._5527c494:before {
    content: "";
    top: 0;
    z-index: 1;
    width: 18px;
    height: 100%;
    position: absolute;
}
._5e5404d1._5527c494 ._8733ff05 {
    display: flex;
}
._5e5404d1 ._8733ff05 {
    top: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #878787;
    background-color: #f2f2f2;
}
._5e5404d1 ._8733ff05._823ea934 svg {
    transform: rotate(180deg);
}
._5e5404d1._5527c494 .e67d2568 {
    left: 30px;
    right: 30px;
}
.e67d2568 {
    top: 0;
    flex: 1;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    overflow: scroll;
    position: absolute;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.e67d2568 ._4fe14017 {
    display: flex;
}
._4fe14017 {
    gap: 24px;
    flex: 1;
    display: flex;
    min-height: 24px;
    align-items: center;
}
._4fe14017 .d7b97cd2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    color: #616161;
}
._4fe14017 .d7b97cd2._4907f2bd .e0294d2e {
    color: #131316;
    background-color: #f2f2f2;
}
._4fe14017 .d7b97cd2 .e0294d2e {
    display: flex;
    cursor: pointer;
    padding: 2px 12px;
    border-radius: 4px;
    align-items: center;
}
._4fe14017 .d7b97cd2 .e0294d2e>svg {
    margin-left: 4px;
}
._5e5404d1 ._8733ff05.accd8ea7 {
    right: 0;
}
._5e5404d1._5527c494 ._8733ff05 {
    display: flex;
}
._5e5404d1 ._8733ff05 {
    top: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #878787;
    background-color: #f2f2f2;
}
.c33df4bf {
    top: 100%;
    z-index: 2;
    padding-top: 4px;
    position: absolute;
}
._1fc1e37e {
    gap: 8px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 4px;
    max-width: 274px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-color: #e3e3e3;
    background-color: #fff;
}

._9df3dcbf .d7b95752 .d68d17a2 {
    flex: 1;
    display: flex;
    margin-top: 8px;
}
._9df3dcbf ._1e5e2a71 {
    margin: 0 auto;
}
.c6e41aee {
    flex: 1;
    display: flex;
    flex-direction: column;
}
._2a39ccb4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #131316;
}
.el-table {
    background: none;
}
.el-table, .el-table__expanded-cell {
    background-color: #fff;
}
.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    color: #606266;
}
.el-table .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
.el-table__footer-wrapper, .el-table__header-wrapper {
    overflow: hidden;
}
.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
    width: 100%;
}
.el-table__body, .el-table__footer, .el-table__header {
    table-layout: fixed;
    border-collapse: separate;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.el-table thead {
    color: #909399;
    font-weight: 500;
}
._2a39ccb4 tr {
    background-color: transparent;
}
._2a39ccb4 tr th.el-table__cell.is-leaf {
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #fafafa;
    border-bottom-color: #fafafa;
}
.el-table th.el-table__cell.is-sortable {
    cursor: pointer;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid #ebeef5;
}
.el-table th.el-table__cell {
    background: none;
}
.el-table th.el-table__cell {
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
/* ._2a39ccb4 tr td:first-child .cell, ._2a39ccb4 tr th:first-child .cell {
    padding-left: 24px;
} */
.el-table th.el-table__cell>.cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
}
.el-table .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}
.el-table .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}
._2a39ccb4 .sort-caret.ascending {
    top: 8px;
    border-bottom-color: #878787;
}
._2a39ccb4 .sort-caret {
    border-width: 4px;
}
.el-table .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}
._2a39ccb4 .sort-caret.descending {
    bottom: 8px;
    border-top-color: #878787;
}
._2a39ccb4 .sort-caret {
    border-width: 4px;
}
.el-table .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}
._2a39ccb4 .sort-caret {
    border-width: 4px;
}
._2a39ccb4 thead th {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #878787;
}
.el-table .el-table__cell {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
}
._2a39ccb4 ._9675cf33 {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
._2a39ccb4 ._9675cf33>svg {
    cursor: pointer;
    margin-right: 8px;
    color: #b8b8b8;
}
._2a39ccb4 ._9675cf33>i {
    margin-right: 12px;
}
._2a39ccb4 ._2033d003 {
    height: 18px;
    color: #e69940;
    padding: 0 2px;
    font-size: 12px;
    margin-left: 4px;
    line-height: 17px;
    border-radius: 2px;
    font-style: normal;
    display: inline-block;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 500;
}
._2a39ccb4 tr td._8e0516f6, ._2a39ccb4 tr td._582f7adf, ._2a39ccb4 tr td.ba00c845 {
    font-weight: 800;
}
._2a39ccb4 tr td.el-table__cell {
    padding-top: 17px;
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 17px;
    border-bottom-color: #f2f2f2;
}
._2a39ccb4 tr td.el-table__cell.is-right .cell {
    display: flex;
    justify-content: flex-end;
}
._2a39ccb4 ._39dd850a {
    color: #1a8f5c;
}
._2a39ccb4 tr td.d1a50393, ._2a39ccb4 tr td.d7e432a6 {
    font-weight: 400;
}
._2a39ccb4 button._4b08f476 {
    white-space: nowrap;
    color: #616161;
}
.polo-btn-small {
    height: 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}
.polo-btn {
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(.4,.4,.25,1.35);
    border: 1px solid transparent;
    background-color: transparent;
}
.el-table .el-table__cell.is-right {
    text-align: right;
}
._2a39ccb4 a._189b2a6c {
    height: 36px;
    display: flex;
    font-size: 13px;
    padding: 0 16px;
    line-height: 20px;
    margin-left: 12px;
    border-radius: 4px;
    align-items: center;
    white-space: nowrap;
    color: #131316;
    background-color: #f2f2f2;
}
._2a39ccb4 tr td:last-child .cell, ._2a39ccb4 tr th:nth-last-child(2) .cell {
    padding-right: 24px;
}
@media screen and 
(max-width: 1440px) {
    ._1e5e2a71 {
        width: 1136px;
    }
}


