.uniframe-root * {
    font-family: source-sans3, PingFang SC, Hiragino Sans GB, Microsoft YaHei, å¾®è½¯é›…é»‘, Aril, sans-serif;
  }
  .uniframe-root * {
    margin: 0;
    padding: 0;
  }
  .uniframe-root a, .uniframe-root a:hover {
    text-decoration: none;
  }
  .a3107c1e, .a3107c1e .bfe44f5e {
    display: flex;
    align-items: center;
  }

  .cdd74806 {
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    min-width: 320px;
    width: 100%;
    --uniframe-header-height: 60px;
}


body.dark-theme .c0f4158f img {
    filter: invert(1) hue-rotate(187deg);
}
.c0f4158f img {
    width: 140px;
    height: 22px;
    margin-top: 15px;
}
.a3107c1e .b8777ccf {
    position: relative;
}


.a3107c1e .bfe44f5e {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin: 0 16px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    color: var(--text-color);
}

.a3107c1e .a773e3aa {
    padding: 8px;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    box-shadow: 0 4px 8px #00000026;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: auto;
    background: var(--background-color);
}
.a3107c1e .a773e3aa:hover{
    display: block;
}
html[data-uniframe-theme=light] .a3107c1e .a773e3aa .d3f3d2f7 {
    color: #131316;
}
html[data-uniframe-theme=light] .a3107c1e .a773e3aa {
    background-color: #fafafa;
}
.a3107c1e .a773e3aa .d3f3d2f7 {
    position: relative;
    padding: 8px;
    padding-left: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 4px;
    transition: background-color .3s, color .3s;
}
.a3107c1e .a773e3aa .d3f3d2f7 .d667695c {
    position: absolute;
    left: 12px;
    top: 9px;
}

.a3107c1e .a773e3aa .d3f3d2f7 .d667695c svg {
    width: 20px;
    height: 20px;
}

.a3107c1e .a773e3aa .d3f3d2f7 .d4ef16dd {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
}
.a3107c1e .a773e3aa .d3f3d2f7 .d4ef16dd>span {
    font-weight: 600;
}
.a3107c1e .a773e3aa .d3f3d2f7 .ddfb18d1 {
    color: #878787;
    font-size: 12px;
    line-height: 16px;
    text-align: initial;
}


.b6d9e754 {
    display: flex;
    align-items: center;
    height: var(--uniframe-header-height);
    margin-right: 8px;
}

.ce727619[data-size=small] {
    height: 28px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
}


/* .ce727619 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    outline: 0;
    transition: background-color .2s, border-color .2s, color .2s;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 4px;
    color: var(--uniframe-button-text-color);
    background-color: var(--);
    border: 1px solid var(--uniframe-button-bd-color);
} */

html[data-uniframe-theme=light] .b6d9e754 .d2c677df.d2c677df {
    color: #1b4db9 !important;
    border-color: #b8b8b8 !important;
}

.c9759bc4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
    height: var(--uniframe-header-height);
    cursor: pointer;
    color: var(--uniframe-header-text-color);
    transition: color .3s;
}

.dd8dbce9 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: var(--uniframe-header-height);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: var(--uniframe-header-text-color);
    transition: color .3s;
}

.c3288ade .c22446a5 span, .dd8dbce9 {
    cursor: pointer;
}
.d5236253 {
    position: relative;
    background-color: #0000;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: var(--uniframe-header-height);
    margin-left: 8px;
    cursor: pointer;
}
.d5236253>i:first-child {
    margin-top: 0;
}
.d5236253>i {
    transition: background-color .3s, transform .3s;
    margin-top: 4px;
    width: 100%;
    height: 2px;
    background-color: var(--uniframe-header-text-color);
}

.d5236253.b53872b6 i:first-child {
    transform: rotate(45deg) translate(4px, 4px);
}
.d5236253.b53872b6 i:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}
.d5236253.b53872b6 i:nth-child(2) {
    opacity: 0;
}



/* ============================================================================================== */
html[data-uniframe-theme=light] .ccf482a6 {
    background-color: #fafafa;
}
.ccf482a6 {
    position: fixed;
    right: 0;
    top: 50px;
    min-width: 375px;
    height: calc(100vh - 50px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 16px 8px;
    overflow-y: auto;
    box-shadow: 0 4px 8px #00000026;
}

.b6d9e754.f132e3fe {
    height: auto;
    margin-right: 0;
    flex-direction: column;
}
.b6d9e754.f132e3fe .b4f29bce {
    margin-bottom: 8px;
}

.b6d9e754.f132e3fe>a, .b6d9e754.f132e3fe>button {
    font-size: 16px;
    display: inline-flex;
    height: 48px;
    line-height: 48px;
    width: 100%;
    margin: 0;
}
.uniframe-root menu, .uniframe-root ol, .uniframe-root ul {
    list-style: none;
}
.acab24db {
    display: flex;
    flex-direction: column;
}
html[data-uniframe-theme=light] .acab24db .bfe44f5e, html[data-uniframe-theme=light] .acab24db .d3f3d2f7 {
    color: #131316;
}
.acab24db .bfe44f5e, .acab24db .d3f3d2f7 {
    display: flex;
    height: 56px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 4px;
    transition: all .3s;
}
.acab24db svg {
    width: 24px;
    height: 24px;
}
.acab24db .bfe44f5e>span, .acab24db .d3f3d2f7>span {
    padding-left: 14px;
}
.acab24db .bfe44f5e svg.b9c912c9 {
    transition: transform .3s;
}

.acab24db .d3f3d2f7 {
    padding-left: 52px;
    font-weight: 400;
    font-size: 14px;
}
.acab24db .a773e3aa .d4ef16dd {
    display: flex;
    align-items: flex-start;
}
.acab24db .a773e3aa .d4ef16dd>span {
    font-weight: 600;
}
.acab24db .a773e3aa.e7c2a590 {
    display: block;
}
.a3107c1e .b8777ccf:hover .a773e3aa, .acab24db .a773e3aa.e7c2a590 {
    animation: uniframe-show-transform-y .3s ease-out;
}
.ccf482a6 .df32d985 {
    display: flex;
    flex-direction: column;
}
html[data-uniframe-theme=light] .ccf482a6 .df32d985 .b1398ab6 {
    color: #131316;
}
.ccf482a6 .df32d985 .b1398ab6 {
    display: flex;
    align-items: center;
    height: 56px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 4px;
    transition: all .3s;
}
.ccf482a6 .df32d985 .b1398ab6>span {
    padding-left: 16px;
}

.a7ddb18f {
    display: flex;
    align-items: center;
}
html[data-uniframe-theme=light] .a7ddb18f .ba0dfc48 {
    color: #2b2b2e;
}
.a7ddb18f .ba0dfc48 {
    font-size: 14px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    transition: color .3s;
    margin-right: 14px;
    font-weight: 600;
}
.a7ddb18f .ba0dfc48:last-of-type {
    margin-right: 8px;
}
.b87cb199 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    height: var(--uniframe-header-height);
    cursor: pointer;
    color: var(--uniframe-header-text-color);
    transition: color .3s;
}
.b87cb199 .c8958f69 {
    padding: 8px;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 0 4px 8px #00000026;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: auto;
}

.b87cb199:hover .c8958f69{
    display: block;
}

html[data-uniframe-theme=light] .b87cb199 .c8958f69 {
    background-color: #fafafa;
}
html[data-uniframe-theme=light] .b87cb199 .c8958f69 .e1027c7a {
    color: #131316;
}
.b87cb199 .c8958f69 .e1027c7a {
    min-width: 300px;
    position: relative;
    padding: 8px;
    padding-left: 40px;
    height: auto;
    border-radius: 4px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}
.b87cb199 .c8958f69 .e1027c7a:hover{
    background: #f0eeee;
}
.b87cb199 .c8958f69 .e1027c7a svg {
    position: absolute;
    left: 12px;
    top: 9px;
}
.b87cb199 .c8958f69 .e1027c7a .a51ab1c0 {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}
.b87cb199 .c8958f69 .e1027c7a .a92347ea {
    color: #878787;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
html[data-uniframe-theme=light] .b87cb199 .c8958f69 .d0ac15a4 {
    color: #616161;
    border-top: 1px solid #f2f2f2 !important;
}
.b87cb199 .c8958f69 .d0ac15a4 {
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
    padding: 4px 0 0;
    transition: color .3s;
    background-color: #0000 !important;
    border: none !important;
}

@media screen and (max-width: 550px){
    .ccf482a6 {
        min-width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}