._layout_cw6mx_9 {
  padding: 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* ._header_piyeq_16 {
  height: 82px;
  display: flex;
  justify-content: center;
} */
._header_piyeq_16 {
  height: 82px;
  display: flex;
  justify-content: center;
}
._header_piyeq_16 ._inner_piyeq_21 {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
html[data-theme=light] ._header_piyeq_16 {
  background-color: #fafafa;
}

._header_piyeq_16 ._navBox_piyeq_26 {
  gap: 0 32px;
}
._header_piyeq_16 ._navBox_piyeq_26 {
  display: flex;
  align-items: flex-end;
}
html[data-theme=light] ._header_piyeq_16 ._navBox_piyeq_26 a._active_piyeq_44, html[data-theme=light] ._header_piyeq_16 ._navBox_piyeq_26 a:hover {
  color: #131316;
}
._header_piyeq_16 ._navBox_piyeq_26 a._active_piyeq_44 {
  font-weight: 600;
}
._header_piyeq_16 ._navBox_piyeq_26 a {
  font-size: 16px;
  line-height: 34px;
  padding-bottom: 16px;
  padding-left: 15px;
  border-bottom: 3px solid transparent;
}
._layout_cw6mx_9 ._inner_cw6mx_14 {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
}
._SideNav_1iwpl_9 {
  display: flex;
  margin-top: 36px;
  align-items: center;
}
.app-container {
  flex: 1;
  display: flex;
  padding-top: 70px;
  padding-bottom: 60px;
  flex-direction: column;
}

html[data-theme=light] ._SideNav_1iwpl_9 ._sideBox_1iwpl_28 {
  background-color: #f2f2f2;
}
._SideNav_1iwpl_9 ._sideBox_1iwpl_28 {
  display: flex;
  border-radius: 4px;
  align-items: center;
  gap: 10px;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button {
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button._active_1iwpl_71._up_1iwpl_75 {
  background-color: #1a8f5c;
}
._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button._active_1iwpl_71 {
  color: #fff;
  border-radius: 4px;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button._active_1iwpl_71._down_1iwpl_83 {
  background-color: #c44749;
}
._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button {
  /* height: 24px; */
  color: #878787;
  cursor: pointer;
  /* min-width: 124px; */
  border: 1px solid;
  padding: 4px 40px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button:last-child {
  border-radius: 0 4px 4px 0;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._sideBox_1iwpl_28 button {
  border-color: #f2f2f2;
  background-color: #e5e4e4;
}
._SideNav_1iwpl_9 ._coinBox_1iwpl_91 {
  flex: 1;
  gap: 0 24px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
}
._SideNav_1iwpl_9 em {
  width: 1px;
  height: 24px;
  border: none;
  margin: 0 24px;
}
html[data-theme=light] ._SideNav_1iwpl_9 em {
  background-color: #c2c2c2;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._coinBox_1iwpl_91>button:hover, html[data-theme=light] ._SideNav_1iwpl_9 ._coinBox_1iwpl_91>button._active_1iwpl_71 {
  color: #131316;
  font-weight: bold;
}
html[data-theme=light] ._coinBox_1wcwv_109 ._coinList_1wcwv_115 li._active_1wcwv_44, html[data-theme=light] ._coinBox_1wcwv_109 ._coinList_1wcwv_115 li:hover {
  color: #131316;
  background-color: #f2f2f2;
}
html .el-input .el-icon svg {
  fill: currentColor;
}
.el-icon svg {
  height: 1em;
  width: 1em;
}
html[data-theme=light] ._SideNav_1iwpl_9 ._coinBox_1iwpl_91>button {
  color: #9e9e9e;
}
._SideNav_1iwpl_9 ._coinBox_1iwpl_91>button {
  cursor: pointer;
}
._FilterNav_1wcwv_9 {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
}
html[data-theme=light] .el-input, html[data-theme=light] .el-input__wrapper, html[data-theme=light] .el-textarea {
  --el-input-hover-border-color: #1a8f5c;
  --el-input-focus-border-color: #1a8f5c;
  --el-input-text-color: #131316;
  --el-input-placeholder-color: #b8b8b8;
}
._FilterNav_1wcwv_9 ._inner_1wcwv_23 {
  gap: 0 16px;
  display: flex;
  align-items: center;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 {
  width: 100%;
  border-radius: 4px;
}
.el-input {
  --el-input-text-color: var(--el-text-color-regular);
  --el-input-border: var(--el-border);
  --el-input-hover-border: var(--el-border-color-hover);
  --el-input-focus-border: var(--el-color-primary);
  --el-input-transparent-border: 0 0 0 1px transparent inset;
  --el-input-border-color: var(--el-border-color);
  --el-input-border-radius: var(--el-border-radius-base);
  --el-input-bg-color: var(--el-fill-color-blank);
  --el-input-icon-color: var(--el-text-color-placeholder);
  --el-input-placeholder-color: var(--el-text-color-placeholder);
  --el-input-hover-border-color: var(--el-border-color-hover);
  --el-input-clear-hover-color: var(--el-text-color-secondary);
  --el-input-focus-border-color: var(--el-color-primary);
}
.el-input {
  --el-input-height: var(--el-component-size);
  position: relative;
  font-size: var(--el-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--el-input-height);
  box-sizing: border-box;
  vertical-align: middle;
}
html .el-input.el-input--default {
  --el-input-height: 40px;
}
html .el-input.el-input--default .el-input__wrapper {
  padding: 1px 12px;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 .el-input__wrapper {
  padding-right: 1px !important;
}
.el-input__inner {
  --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  color: var(--el-input-text-color, var(--el-text-color-regular));
  font-size: inherit;
  height: var(--el-input-inner-height);
  line-height: var(--el-input-inner-height);
  padding: 0;
  outline: 0;
  border: none;
  background: 0 0;
  box-sizing: border-box;
  font-weight: 600;
}
.el-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--el-input-icon-color, var(--el-text-color-placeholder));
  transition: all var(--el-transition-duration);
  pointer-events: none;
}
.el-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--el-input-bg-color, var(--el-fill-color-blank));
  background-image: none;
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  transition: var(--el-transition-box-shadow);
  transform: translateZ(0);
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
}
.el-input__suffix-inner {
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.el-input__suffix-inner>:first-child {
  margin-left: 8px;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 .el-dropdown {
  height: 100%;
  margin-left: 0;
  display: block;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 ._activeCoin_1wcwv_44 {
  height: 100%;
  display: flex;
  cursor: pointer;
  padding: 0 16px;
  align-items: center;
  border-radius: 4px;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 ._activeCoin_1wcwv_44>img {
  height: 20px;
  vertical-align: middle;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 ._activeCoin_1wcwv_44 svg {
  color: #a8abb2;
  font-size: 14px;
  margin-left: 4px;
  transition: transform .3;
}
html[data-theme=light] ._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 ._activeCoin_1wcwv_44 ._name_1wcwv_64 {
  color: #131316;
}
.svg-icon[data-v-c936a896] {
  overflow: hidden;
  outline: none;
  fill: currentColor;
  stroke-width: 0;
}

.el-dropdown {
  --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
  --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
  --el-dropdown-menuItem-hover-color: var(--el-color-primary);
  --el-dropdown-menu-index: 10;
  display: inline-flex;
  position: relative;
  color: var(--el-text-color-regular);
  font-size: var(--el-font-size-base);
  line-height: 1;
  vertical-align: top;
}
._FilterNav_1wcwv_9 ._coinInput_1wcwv_40 ._activeCoin_1wcwv_44 ._name_1wcwv_64 {
  font-size: 13px;
  font-weight: 600;
  padding-left: 4px;
}
html[data-theme=light] ._FilterNav_1wcwv_9 ._trigon_1wcwv_15 svg {
  color: #616161;
}
.el-popper, html[data-theme=light] .e-dropdown {
  --el-color-primary: #131316;
  --el-text-color-regular: #131316;
  --el-dropdown-menuItem-hover-fill: transparent;
  --el-dropdown-menuItem-hover-color: #1a8f5c;
  --el-border-color-light: #e3e3e3;
  --el-dropdown-menu-box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
  --el-bg-color-overlay: #fff;
  --el-fill-color-light: #f2f2f2;
}

.e-dropdown[data-popper-placement^=bottom] {
  transform: translateY(-8px);
}

.el-dropdown__popper.el-popper {
  background: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  box-shadow: var(--el-dropdown-menu-box-shadow);
}

.el-popper.is-pure {
  padding: 0;
}
.el-popper.is-light {
  background: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
}
html .el-popper {
  padding: 8px;
}
.el-dropdown__popper {
  --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
  --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
  --el-dropdown-menuItem-hover-color: var(--el-color-primary);
  --el-dropdown-menu-index: 10;
}
.el-popper {
  position: absolute;
  border-radius: var(--el-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;
  margin-top: 8px;
}
.el-popper {
  --el-popper-border-radius: var(--el-popover-border-radius, 4px);
}
.el-select .el-input__inner {
  cursor: pointer;
}
.el-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el-scrollbar {
  --el-scrollbar-opacity: .3;
  --el-scrollbar-bg-color: var(--el-text-color-secondary);
  --el-scrollbar-hover-opacity: .5;
  --el-scrollbar-hover-bg-color: var(--el-text-color-secondary);
}
.el-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}
.el-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}
.el-dropdown__popper .el-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
._coinBox_1wcwv_109 {
  width: 150px;
  display: flex;
  padding: 4px 6px;
  flex-direction: column;
}
._coinBox_1wcwv_109 ._coinList_1wcwv_115 {
  max-height: 220px;
  overflow: auto;
}
html[data-theme=light] ._coinBox_1wcwv_109 ._coinList_1wcwv_115 li {
  color: #616161;
}
._coinBox_1wcwv_109 ._coinList_1wcwv_115 li {
  height: 40px;
  padding: 8px;
  display: flex;
  cursor: pointer;
  font-size: 13px;
  line-height: 26px;
  border-radius: 4px;
  align-items: center;
  margin-top: 4px;
}
._coinBox_1wcwv_109 ._coinList_1wcwv_115 li ._imgBox_1wcwv_138 {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 50%;
}
html[data-theme=light] ._coinBox_1wcwv_109 ._coinList_1wcwv_115 li ._imgBox_1wcwv_138 {
  background-color: #e3e3e3;
}
._coinBox_1wcwv_109 ._coinList_1wcwv_115 li ._imgBox_1wcwv_138>img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-select-input-focus-border-color) inset !important;
}
html[data-theme=light] .el-select, html[data-theme=light] .el-select-dropdown {
  --el-color-primary: #131316;
  --el-text-color-regular: #131316;
  --el-dropdown-menuItem-hover-fill: transparent;
  --el-dropdown-menuItem-hover-color: #1a8f5c;
  --el-border-color-light: #e3e3e3;
  --el-dropdown-menu-box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
  --el-bg-color-overlay: #fff;
  --el-fill-color-light: #f2f2f2;
}
.el-select-dropdown {
  z-index: calc(var(--el-index-top) + 1);
  border-radius: var(--el-border-radius-base);
  box-sizing: border-box;
}
.el-select-dropdown__wrap {
  max-height: 274px;
}
.el-select-dropdown__list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-sizing: border-box;
}
html .el-select-dropdown .el-select-dropdown__item {
  padding: 0 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  height: auto;
  min-height: 40px;
  margin-top: 4px;
  white-space: normal;
}
.el-select-dropdown__item {
  font-size: var(--el-font-size-base);
  padding: 0 32px 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--el-text-color-regular);
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.el-select-dropdown__item.selected {
  color: var(--el-color-primary);
  font-weight: 700;
}
html .el-select-dropdown .el-select-dropdown__item>span {
  display: flex;
  padding: 4px 8px;
  min-height: 40px;
  align-items: center;
}
html .el-select-dropdown .el-select-dropdown__item.selected span, html .el-select-dropdown .el-select-dropdown__item:hover span {
  background-color: var(--el-fill-color-light);
  width: 100%;
  border-radius: 4px;
}
/* ._item_1wcwv_182 {
  position: relative;
} */
.el-select {
  --el-select-border-color-hover: var(--el-border-color-hover);
  --el-select-disabled-border: var(--el-disabled-border-color);
  --el-select-font-size: var(--el-font-size-base);
  --el-select-close-hover-color: var(--el-text-color-secondary);
  --el-select-input-color: var(--el-text-color-placeholder);
  --el-select-multiple-input-color: var(--el-text-color-regular);
  --el-select-input-focus-border-color: var(--el-color-primary);
  --el-select-input-font-size: 14px;
}
html .el-select {
  --el-select-border-color-hover: #1a8f5c;
  --el-select-input-focus-border-color: #1a8f5c;
}
.el-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 32px;
}
.el-select .el-input__wrapper {
  cursor: pointer;
}
.el-select .el-input {
  display: flex;
}

html .el-popper.el-select__popper[data-popper-placement^=bottom] {
  transform: translateY(-8px);
}

html[data-theme=light] .el-popper, html[data-theme=light] .e-dropdown {
  --el-color-primary: #131316;
  --el-text-color-regular: #131316;
  --el-dropdown-menuItem-hover-fill: transparent;
  --el-dropdown-menuItem-hover-color: #1a8f5c;
  --el-border-color-light: #e3e3e3;
  --el-dropdown-menu-box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
  --el-bg-color-overlay: #fff;
  --el-fill-color-light: #f2f2f2;
}
html[data-theme=light] ._coinSearchInput_1wcwv_95 .el-input__wrapper {
  background-color: #f2f2f2;
}
._coinSearchInput_1wcwv_95 .el-input__wrapper {
  box-shadow: none;
}
.el-input__prefix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--el-input-icon-color, var(--el-text-color-placeholder));
  transition: all var(--el-transition-duration);
  pointer-events: none;
}
.el-input__prefix-inner {
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
el-input__prefix-inner>:first-child, .el-input__prefix-inner>:first-child.el-input__icon {
  margin-left: 0;
}
.el-input__prefix-inner>:last-child {
  margin-right: 8px;
}
._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4px;
}
html[data-theme=light] ._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ._payItem_1wcwv_211._active_1wcwv_44, html[data-theme=light] ._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ._payItem_1wcwv_211:hover {
  background-color: #f2f2f2;
}
._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ._payItem_1wcwv_211 {
  padding: 8px;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  border-radius: 4px;
  margin-top: 4px;
}
._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ul li {
  width: 49%;
}
._payMethodBox_1wcwv_186 {
  width: 360px;
}
._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 {
  gap: 4px 8px;
  height: 310px;
  overflow: auto;
  padding: 10px 4px 6px;
}
html .el-input {
  --el-disabled-text-color: #878787;
  --el-disabled-bg-color: none;
  font-weight: 600;
}

html[data-theme=light] ._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ._payItem_1wcwv_211>em._firstEm_1wcwv_235 {
  background-color: #1a8f5c !important;
}
._payMethodBox_1wcwv_186 ._boxContent_1wcwv_195 ._payItem_1wcwv_211>em {
  width: 2px;
  height: 10px;
  min-width: 2px;
  margin-right: 6px;
}

._tableList_2ean6_9 {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  position: relative;
}
html[data-theme=light] .el-table {
  --el-table-bg-color: transparent;
  --el-table-tr-bg-color: #fff;
  --el-table-row-hover-bg-color: transparent;
  --el-table-header-bg-color: #fafafa;
  --el-table-border-color: #f2f2f2;
}

._tableLayout_f1c54_9 {
  display: flex;
}
.el-table--fit {
  border-right: 0;
  border-bottom: 0;
}
.el-table {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  background-color: var(--el-table-bg-color);
  font-size: 14px;
  color: var(--el-table-text-color);
}
.el-table {
  --el-table-border-color: var(--el-border-color-lighter);
  --el-table-border: 1px solid var(--el-table-border-color);
  --el-table-text-color: var(--el-text-color-regular);
  --el-table-header-text-color: var(--el-text-color-secondary);
  --el-table-row-hover-bg-color: var(--el-fill-color-light);
  --el-table-current-row-bg-color: var(--el-color-primary-light-9);
  --el-table-header-bg-color: var(--el-bg-color);
  --el-table-fixed-box-shadow: var(--el-box-shadow-light);
  --el-table-bg-color: var(--el-fill-color-blank);
  --el-table-tr-bg-color: var(--el-fill-color-blank);
  --el-table-expanded-cell-bg-color: var(--el-fill-color-blank);
  --el-table-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, .15);
  --el-table-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, .15);
}
.el-table__inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.el-table .hidden-columns {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}.el-table__footer-wrapper, .el-table__header-wrapper {
  overflow: hidden;
}
.el-table__header-wrapper {
  flex-shrink: 0;
}
.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 100%;
}
.el-table__body, .el-table__footer, .el-table__header {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.el-table thead {
  color: var(--el-table-header-text-color);
  font-weight: 500;
}
.el-table tr {
  background-color: var(--el-table-tr-bg-color);
}
.el-table thead {
  color: #909399;
  font-weight: 500;
}
thead th {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #878787;
}

html[data-theme=light] ._tableLayout_f1c54_9 th.el-table__cell {
  background-color: #fafafa;
}
._tableLayout_f1c54_9 th.el-table__cell.is-leaf {
  border-bottom: none;
}
.el-table:not(.el-table--border) .el-table__cell {
  border-right: none;
}
._tableLayout_f1c54_9 th.el-table__cell {
  padding: 10px 0;
}

.el-table th.el-table__cell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--el-table-header-bg-color);
}
.el-table .el-table__cell {
  padding: 8px 0;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
  z-index: 1;
}
._tableList_2ean6_9 .el-table thead th:first-child .cell {
  padding-left: 12px;
}
._tableLayout_f1c54_9 .el-table__body-wrapper {
  min-height: 320px;
}
.el-table__body-wrapper {
  overflow: hidden;
  position: relative;
  flex: 1;
}
.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 100%;
}
.el-table tr {
  background-color: var(--el-table-tr-bg-color);
}
html .el-table .el-table__body-wrapper .el-table__cell {
  padding: 16px 0;
}
.el-table .cell {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding: 0 12px;
}
.el-table--enable-row-transition .el-table__body td.el-table__cell {
  transition: background-color .25s ease;
}
._tableList_2ean6_9 .el-table .cell {
  padding: 0;
  overflow: visible;
}
.el-table td.el-table__cell div {
  font-size: 11px;
  box-sizing: border-box;
}
._tableList_2ean6_9 ._merchantInfo_2ean6_123 {
  display: flex;
  align-items: center;
}

html[data-theme=light] body a {
  color: #1a8f5c;
}

._merchantIcon_f9alk_9 {
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  border-radius: 50%;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
}
._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._icon_2ean6_127 {
  overflow: visible;
  margin-right: 9px;
}
html[data-theme=light] ._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._icon_2ean6_127 {
  background-color: #1a8f5c;
}
html[data-theme=light] ._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._icon_2ean6_127._online_2ean6_157:after {
  background-color: #1a8f5c;
}
html[data-theme=light] ._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._icon_2ean6_127:after {
  background-color: #878787;
}
._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._icon_2ean6_127:after {
  content: "";
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  inset: auto 0 0 auto;
  border: 1px solid #fff;
}
.el-table td.el-table__cell div {
  box-sizing: border-box;
}
._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._name_2ean6_165 {
  gap: 0 4px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
}
._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._trade_2ean6_189 {
  color: #878787;
}
html[data-theme=light] ._tableList_2ean6_9 ._merchantInfo_2ean6_123 ._name_2ean6_165>a {
  color: #131316;
}
._flex_xvdld_9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
html .el-table .el-table__body-wrapper .el-table__cell .cell {
  line-height: 24px;
}
html[data-theme=light] ._tableList_2ean6_9 ._price_2ean6_192 {
  color: #000;
}
._tableList_2ean6_9 ._price_2ean6_192 {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}
._tableList_2ean6_9 ._record_2ean6_205 {
  gap: 4px 0;
  display: flex;
  font-size: 12px;
  line-height: 20px;
}
._tableList_2ean6_9 ._record_2ean6_205 ._line_2ean6_211 {
  display: flex;
  flex-direction: column;
}
html[data-theme=light] ._tableList_2ean6_9 ._record_2ean6_205 ._label_2ean6_215 {
  color: #b5b8bb;
}
._tableList_2ean6_9 ._record_2ean6_205 ._label_2ean6_215 {
  padding-right: 10px;
  font-size: 12px;
}
html[data-theme=light] ._tableList_2ean6_9 ._record_2ean6_205 ._value_2ean6_227 {
  color: #131316;
}
._tableList_2ean6_9 ._record_2ean6_205 ._value_2ean6_227 {
  font-weight: 400;
  font-size: 12px;
}
._tableList_2ean6_9 ._method_2ean6_239 span {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
}
._tableList_2ean6_9 ._method_2ean6_239 span em {
  width: 2px;
  height: 10px;
  border: none;
  margin-right: 6px;
  background-color: currentColor;
}

._BtnWraper_d4ofj_9 {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.el-button {
  --el-button-font-weight: var(--el-font-weight-primary);
  --el-button-border-color: var(--el-border-color);
  --el-button-bg-color: var(--el-fill-color-blank);
  --el-button-text-color: var(--el-text-color-regular);
  --el-button-disabled-text-color: var(--el-disabled-text-color);
  --el-button-disabled-bg-color: var(--el-fill-color-blank);
  --el-button-disabled-border-color: var(--el-border-color-light);
  --el-button-divide-border-color: rgba(255, 255, 255, .5);
  --el-button-hover-text-color: var(--el-color-primary);
  --el-button-hover-bg-color: var(--el-color-primary-light-9);
  --el-button-hover-border-color: var(--el-color-primary-light-7);
  --el-button-active-text-color: var(--el-button-hover-text-color);
  --el-button-active-border-color: var(--el-color-primary);
  --el-button-active-bg-color: var(--el-button-hover-bg-color);
  --el-button-outline-color: var(--el-color-primary-light-5);
  --el-button-hover-link-text-color: var(--el-color-info);
  --el-button-active-color: var(--el-text-color-primary);
}
.el-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--el-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  transition: .1s;
  font-weight: var(--el-button-font-weight);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--el-button-bg-color);
  border: var(--el-border);
  border-color: var(--el-button-border-color);
  padding: 8px 15px;
  font-size: var(--el-font-size-base);
  border-radius: var(--el-border-radius-base);
}
.el-button--success {
  --el-button-text-color: var(--el-color-white);
  --el-button-bg-color: var(--el-color-success);
  --el-button-border-color: var(--el-color-success);
  --el-button-outline-color: var(--el-color-success-light-5);
  --el-button-active-color: var(--el-color-success-dark-2);
  --el-button-hover-text-color: var(--el-color-white);
  --el-button-hover-link-text-color: var(--el-color-success-light-5);
  --el-button-hover-bg-color: var(--el-color-success-light-3);
  --el-button-hover-border-color: var(--el-color-success-light-3);
  --el-button-active-bg-color: var(--el-color-success-dark-2);
  --el-button-active-border-color: var(--el-color-success-dark-2);
  --el-button-disabled-text-color: var(--el-color-white);
  --el-button-disabled-bg-color: var(--el-color-success-light-5);
  --el-button-disabled-border-color: var(--el-color-success-light-5);
}
html .el-button {
  --el-button-font-weight: 600;
  --el-button-size: 36px;
}
._BtnWraper_d4ofj_9 button {
  text-align: center;
  font-size: 11px;
  border-radius: 4px;
}
html[data-theme=light] .el-button--success:not(.is-link) {
  --el-button-text-color: #fff;
  --el-button-border-color: #1a8f5c;
  --el-button-bg-color: #1a8f5c;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #106f44;
  --el-button-hover-bg-color: #106f44;
  --el-button-active-text-color: #fff;
  --el-button-active-border-color: #106f44;
  --el-button-active-bg-color: #106f44;
  --el-button-disabled-text-color: #b8b8b8;
  --el-button-disabled-border-color: #f2f2f2;
  --el-button-disabled-bg-color: #f2f2f2;
}
.el-button>span {
  display: inline-flex;
  align-items: center;
}
._tableList_2ean6_9 .el-tooltip__trigger:after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  height: 0px;
}

html[data-theme=light] ._tableList_2ean6_9 .el-tooltip__trigger:after {
  border-bottom: 1px dashed #b8b8b8;
}
._tableList_2ean6_9 .el-tooltip__trigger {
  position: relative;
}

._tableList_2ean6_9 ._pagination_2ean6_258 {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;
  justify-content: flex-end;
}
.el-pagination {
  --el-pagination-font-size: 14px;
  --el-pagination-bg-color: var(--el-fill-color-blank);
  --el-pagination-text-color: var(--el-text-color-primary);
  --el-pagination-border-radius: 2px;
  --el-pagination-button-color: var(--el-text-color-primary);
  --el-pagination-button-width: 32px;
  --el-pagination-button-height: 32px;
  --el-pagination-button-disabled-color: var(--el-text-color-placeholder);
  --el-pagination-button-disabled-bg-color: var(--el-fill-color-blank);
  --el-pagination-button-bg-color: var(--el-fill-color);
  --el-pagination-hover-color: var(--el-color-primary);
  --el-pagination-font-size-small: 12px;
  --el-pagination-button-width-small: 24px;
  --el-pagination-button-height-small: 24px;
  --el-pagination-item-gap: 16px;
  white-space: nowrap;
  color: var(--el-pagination-text-color);
  font-size: var(--el-pagination-font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
}
html[data-theme=light] ._tableList_2ean6_9 .el-pagination button {
  border: 1px solid #e3e3e3;
  color: #131316;
}
._tableList_2ean6_9 .el-pagination .btn-prev {
  margin-right: 8px;
}
.el-pagination .btn-prev {
  margin-left: var(--el-pagination-item-gap);
}
._tableList_2ean6_9 .el-pagination button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: transparent;
}
.el-pagination>.is-first {
  margin-left: 0 !important;
}
.el-pagination--small .btn-next, .el-pagination--small .btn-prev, .el-pagination--small .el-pager li {
  height: var(--el-pagination-button-height-small);
  line-height: var(--el-pagination-button-height-small);
  font-size: var(--el-pagination-font-size-small);
  min-width: var(--el-pagination-button-width-small);
}
.el-pagination--small button, .el-pagination--small span:not([class*=suffix]) {
  font-size: var(--el-pagination-font-size-small);
}
.el-pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--el-pagination-font-size);
  min-width: var(--el-pagination-button-width);
  height: var(--el-pagination-button-height);
  line-height: var(--el-pagination-button-height);
  color: var(--el-pagination-button-color);
  background: var(--el-pagination-bg-color);
  padding: 0 4px;
  border: none;
  border-radius: var(--el-pagination-border-radius);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
  display: block;
  font-size: 12px;
  font-weight: 700;
  width: inherit;
}
.el-pagination button * {
  pointer-events: none;
}
.el-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}
.el-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}
.el-pagination button * {
  pointer-events: none;
}
.el-pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
html[data-theme=light] ._tableList_2ean6_9 .el-pagination li {
  border: 1px solid #e3e3e3;
  color: #131316;
}
._tableList_2ean6_9 .el-pagination li {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  margin-right: 8px;
  background: transparent;
}
html[data-theme=light] ._tableList_2ean6_9 .el-pagination li.is-active, html[data-theme=light] ._tableList_2ean6_9 .el-pagination li:hover {
  border: 1px solid #1a8f5c;
  color: #1a8f5c;
}
.el-pager li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--el-pagination-font-size);
  min-width: var(--el-pagination-button-width);
  height: var(--el-pagination-button-height);
  line-height: var(--el-pagination-button-height);
  color: var(--el-pagination-button-color);
  background: var(--el-pagination-bg-color);
  padding: 0 4px;
  border: none;
  border-radius: var(--el-pagination-border-radius);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}


@media only screen and (max-width : 650px){
  ._layout_cw6mx_9 {
    padding: 10px;
  }
  ._SideNav_1iwpl_9 {
    flex-direction: column;
    align-items: self-start;
  }
  ._SideNav_1iwpl_9 em {
    width: 1px;
    height: 10px;
  }
  html[data-theme=light] ._SideNav_1iwpl_9 em {
    background-color: transparent;
  }
}

@media only screen and (max-width: 1190px) {
  .el-table__body, .el-table__footer, .el-table__header {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  .el-table__body, .el-table__footer, .el-table__header {
    width: 80%;
  }
}

@media only screen and (max-width: 670px) {
  .el-table__body, .el-table__footer, .el-table__header {
    width: 60%;
  }
}

@media only screen and (max-width: 520px) {
  .el-table__body, .el-table__footer, .el-table__header {
    width: 50%;
  }
}
@media only screen and (max-width: 470px) {
  .el-table__body, .el-table__footer, .el-table__header {
    width: 32%;
  }
}



