#root {
    flex: 1 0 auto;
}
html[data-entry=profile] #root {
    display: flex;
    flex-direction: column;
}
html[data-uniframe-theme=light] .efb13d49 {
    background-color: #fbfbfb;
}
.efb13d49 {
    --uniframe-subnav-height: 84px;
    position: fixed;
    z-index: 999999;
    top: 50px;
    left: 0;
    right: 0;
    min-height: 2px;
    margin: 0;
    padding: 0 16px;
    height: var(--uniframe-subnav-height);
    display: flex;
    align-items: center;
    overflow-x: auto;
}
html[data-uniframe-theme=light] .efb13d49 .active {
    color: #131316;
}
.efb13d49 .active {
    font-weight: 600;
}
.efb13d49 button {
    flex-shrink: 0;
    position: relative;
    list-style: none;
    font-size: 13.5px;
    line-height: 24px;
    cursor: pointer;
}
.efb13d49 button+button {
    margin-left: 32px;
}
html[data-uniframe-theme=light] .efb13d49 button {
    color: #616161;
}
html[data-uniframe-theme=light] .efb13d49 .active:after {
    background-color: var(--primary-color);
}
.efb13d49 .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
}
.JU6GJ {
    width: 100%;
    margin: 54px auto;
}
._49R7m h2 {
    margin: 20px 0 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}
._49R7m .AG3uu._4wz0v {
    color: #119e5f !important;
    background-color: #119e5f1a;
}
._49R7m .AG3uu {
    display: inline-block;
    margin-left: 8px;
    padding: 0 10px;
    height: 24px;
    color: #2a2a2a;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
}
._49R7m .nBFHm {
    position: relative;
    padding: 24px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 10px;
}
._49R7m h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
._49R7m .nBFHm>div {
    margin: 6px 0;
}

.Qul7N .QKu-k {
    margin: 45px 0 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}
.Qul7N .MW3aP {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 10px;
}
.Qul7N section {
    width: 360px;
}
.Qul7N .-crL- {
    color: #818181;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.Qul7N ul {
    margin: 5px 0 0;
    padding: 0;
    list-style-type: none;
    width: 360px;
}
.Qul7N ul li {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}
.Qul7N .AnUSR {
    display: inline-flex;
    gap: 4px;
    color: #2a2a2a;
    align-items: center;
}
.Qul7N .AnUSR.JaAW5, .Qul7N .K0ypF {
    color: #818181;
}
.Qul7N .gVuB4 {
    margin-top: 35px;
}
.Qul7N ul li .ry2P5 {
    cursor: pointer;
    font-weight: 600;
    color: #11915f;
    text-decoration: none;
}
.Sh9uK {
    display: flex;
    margin-left: 40px;
    align-items: center;
}
html[data-theme=light] .Sh9uK ._5b5z- {
    background-color: #fafafa;
}
.Sh9uK ._5b5z- {
    width: 360px;
    padding: 20px;
    border-radius: 10px;
}
html[data-theme=light] .Sh9uK .wgm9Y {
    color: #878787;
}
.Sh9uK .wgm9Y {
    opacity: .7;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
html[data-theme=light] .Sh9uK .XK6wE {
    color: #131316;
}
.Sh9uK .XK6wE {
    margin: 12px 0 26px;
    font-weight: 600;
    line-height: 20px;
}
.Sh9uK .-I7Zd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jRLsY>span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
html[data-theme=light] .Sh9uK .-I7Zd .rbWIZ {
    color: #131316;
}
.jRLsY[data-size=small] {
    height: 28px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
}

.jRLsY {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    outline: 0;
    transition: background-color .2s, border-color .2s, color .2s;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    padding: 4px 16px;
    border-radius: 4px;
}
.jRLsY.wzmE4{
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.jRLsY.nFueq{
    color: #131316;
    background-color: #e0e0e0;
    border: 1px solid #f2f2f2;
}
html[data-theme=light] ._3yZtL {
    background-color: #fff;
}
._3yZtL {
    border-radius: 8px;
    min-width: 100%;
    padding: var(--12829c0b);
}
html[data-theme=light] ._3yZtL .pvuZv h2 {
    color: #131316;
}
._3yZtL .pvuZv h2 {
    font-size: 17px;
    line-height: 28px;
    font-weight: 700;
    padding: 44px 0 16px;
}
html[data-theme=light] ._3yZtL .pvuZv .N1KMQ>div {
    border-top: 1px solid #f2f2f2;
}
._3yZtL .pvuZv .N1KMQ>div {
    display: flex;
    align-items: center;
    padding: 22px 0;
}
.w94ff {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    flex: 1 1 0;
    max-width: 456px;
}
.w94ff .BynR-._5cbXB {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/passkey-0cbf866f.svg);
}
.w94ff .BynR- {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}
html[data-theme=light] ._3yZtL .pvuZv .N1KMQ h3 {
    color: #131316;
}
._3yZtL .pvuZv .N1KMQ h3 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
}
.w94ff h3 {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
._3yZtL .pvuZv .N1KMQ h4 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.w94ff h3 .M42GW {
    background-color: #e5994026;
    font-size: 12px;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    border-radius: 2px;
    padding: 0 4px;
    margin-left: 4px;
    line-height: 18px;
}
.ZZKGD ._2lg0i .cMzxQ {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: space-between;
}
.ZZKGD ._2lg0i .cMzxQ .jFNWE {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.ZZKGD ._2lg0i .cMzxQ .jFNWE .euYsy {
    margin-right: 4px;
    color: #b8b8b8;
}
html[data-theme=light] .ZZKGD ._2lg0i .cMzxQ .jFNWE .euYsy.O-m3o {
    color: #1a8f5c;
}
.ZZKGD ._2lg0i .cMzxQ ._9Tue6 {
    flex-grow: 1;
    display: flex;
    gap: 0 24px;
    align-items: center;
    justify-content: flex-end;
}
.w94ff .BynR-.IDa6w {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/google-8fbcafdb.svg);
}

.w94ff .BynR-.ZRWIU {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/mail-951c89be.svg);
}
.w94ff .BynR-.xbP0k {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/phone-b3be9817.svg);
}
._3yZtL+._3yZtL {
    margin-top: 8px;
}
.w94ff .BynR-.xTHGO {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/pwd-bec20ffb.svg);
}

.on9Xm .MrcpO .D8FJb {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.w94ff .BynR-.J7YKx {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/withdraw-c7e07fb5.svg);
}
.w94ff .BynR-._5uYFZ {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/link-28fef208.svg);
}
.w94ff .BynR-._7iFBo {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/device-580bb4f4.svg);
}
.w94ff .BynR-._227Ej {
    background-image: url(https://v3.polo-static.com/account-web/static/svg/activity-b4dad350.svg);
}
.UGkZw .UTBi- .Yq6kf {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.JU6GJ ._3U9RI {
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
}

._6Uhih {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    height: 76px;
    padding-top: 62px;
    padding-bottom: 16px;
}
._6Uhih ._1wZMa {
    height: 28px;
    line-height: 28px;
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 16px;
}
._6Uhih ._1wZMa ._1SRXm {
    display: flex;
    align-items: center;
}
._6Uhih ._1wZMa ._1SRXm:not(:last-child)>span, ._6Uhih ._1wZMa ._1SRXm:not(:last-child)>a {
    color: #878787;
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
}
._6Uhih ._1wZMa ._1SRXm:not(:last-child)>svg {
    color: #878787;
}
html[data-theme=light] ._6Uhih ._1wZMa ._1SRXm:last-child>span {
    color: #131316;
}
._6Uhih ._1wZMa ._1SRXm:last-child>span {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
html[data-theme=light] .f3uQo {
    background-color: #fff;
}
.f3uQo {
    min-width: 100%;
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.f3uQo .SB4GP {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
html[data-theme=light] ._9646K {
    border: 1px solid #e3e3e3;
}
._9646K {
    margin-top: 44px;
    min-height: 44px;
    display: flex;
    line-height: 24px;
    color: #d64d4f;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: #c4474926;
    border-radius: 8px;
}
._9646K>svg {
    margin-right: 4px;
}

._3Rbyl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 128px 120px;
    border-radius: 8px;
}
html[data-theme=light] ._3Rbyl {
    background-color: #fff;
}
._3Rbyl ._1Y5QL {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #131316;
    text-align: center;
}
._3Rbyl .mvUYw {
    display: flex;
    min-width: 664px;
    padding-top: 44px;
    gap: 24px;
}
html[data-theme=light] ._3Rbyl .mvUYw ._4h-U- {
    background-color: #fafafa;
}
._3Rbyl .mvUYw ._4h-U- {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 8px;
}
._3Rbyl .mvUYw ._4h-U-, ._3Rbyl .mvUYw .Om8Tj {
    width: 320px;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- {
    font-size: 14px;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- li {
    color: #555;
    line-height: 24px;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S {
    position: relative;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._5NYxM {
    cursor: pointer;
}
html[data-theme=light] ._3Rbyl .mvUYw ._4h-U- ul.mgZl- li a {
    color: #1a8f5c;
}
._3Rbyl .mvUYw ._4h-U- ul.mgZl- li a {
    text-decoration: underline;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._3qbY- {
    top: 100%;
    width: 272px;
    display: none;
    padding-top: 8px;
    position: absolute;
}
html[data-theme=light] ._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._3qbY- .tAorP {
    color: #131316;
    border-color: #f2f2f2;
    background-color: #fff;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._3qbY- .tAorP {
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 6px 16px #0000004d;
}
menu, ol, ul {
    list-style: none;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._3qbY- .zFPj- {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    align-items: center;
    padding: 16px 16px 0;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- .stq8S ._3qbY- .zFPj- ._5pjRH {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-image: url(https://v3.polo-static.com/account-web/static/svg/google-8fbcafdb.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- li+li {
    margin-top: 16px;
}
._3Rbyl .mvUYw ._4h-U- .mgZl- li {
    color: #555;
    line-height: 24px;
}
._3Rbyl .mvUYw ._4h-U- ul.mgZl- li>b {
    font-weight: 600;
}
html[data-theme=light] ._3Rbyl .mvUYw ._4h-U- ul.mgZl- li>b {
    color: #131316;
}
html[data-theme=light] ._3Rbyl .mvUYw ._4h-U- .HCPmX a {
    color: #878787;
}
._3Rbyl .mvUYw ._4h-U- .HCPmX a {
    text-decoration: underline;
}
._3Rbyl .mvUYw .Om8Tj .qr3Kp {
    width: 130px;
    height: 130px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #6161610a;
}
._3Rbyl .mvUYw .Om8Tj .qr3Kp img{
    width: 130px;
    height: 130px;
}
._3Rbyl .mvUYw .Om8Tj .BqRxK {
    margin-top: 16px;
    text-align: center;
}
html[data-theme=light] ._3Rbyl .mvUYw .Om8Tj .n-YFk {
    border-color: #f2f2f2;
}
._3Rbyl .mvUYw .Om8Tj .n-YFk {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid;
}
._3Rbyl .mvUYw .Om8Tj .n-YFk .yY-Ye {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 4px;
    color: #878787;
}
.UCvwK {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 4px;
    transition: all .35s;
}
.UCvwK._6zRWA {
    line-height: 46px;
}
html[data-theme=light] .UCvwK .e78Rk {
    color: #131316;
}
.UCvwK .e78Rk {
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
}
._3Rbyl .mvUYw .Om8Tj .n-YFk .LqP40 {
    margin-top: 24px;
    width: 100%;
}
.jRLsY[data-size=large] {
    height: 44px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
}

.jRLsY.SOUdU{
    color: #fff;
    background-color: #131316;
    border: 1px solid #131316;
}
html[data-theme=light] .UCvwK {
    border: 1px solid #ccc;
}
html[data-theme=light] .UCvwK .ZCOPD {
    color: #1a8f5c;
}
.UCvwK .ZCOPD {
    font-size: 14px;
    padding: 0 16px;
    cursor: pointer;
}

html[data-theme=light] .f3uQo {
    background-color: #fff;
}
.f3uQo {
    min-width: 1312px;
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.f3uQo .SB4GP {
    width: 1312px;
    margin-left: auto;
    margin-right: auto;
}
html[data-theme=light] .hns0Q {
    background-color: #fff;
}
.hns0Q {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 128px 120px;
}
html[data-theme=light] .hns0Q ._3Oh9A {
    color: #131316;
}
.hns0Q ._3Oh9A {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
.hns0Q .j-Qov .VNeKz {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
    color: #878787;
}
html[data-theme=light] .rjB-B {
    border-color: #ccc;
}
.rjB-B.DAf2u {
    line-height: 42px;
}
.rjB-B {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;
}
.rjB-B .Fcj6G {
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    font-weight: 600;
    line-height: 24px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
html[data-theme=light] .rjB-B .Fcj6G {
    color: #131316;
}
.rjB-B .Fcj6G:after {
    content: "";
    top: 50%;
    right: 0;
    width: 1px;
    height: 16px;
    position: absolute;
    transform: translateY(-50%);
}
html[data-theme=light] .rjB-B .Fcj6G:after {
    background-color: #b8b8b8;
}
html[data-theme=light] .rjB-B input {
    color: #131316;
    background-color: #fff;
}
.rjB-B input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 4px;
    padding:  12px;
    font-size: 16px;
    font-weight: 600;
}
.jRLsY[disabled], .jRLsY.hwhVM {
    pointer-events: none;
    cursor: not-allowed;
    color: #878787;
    background-color: #b8b8b8;
    border: 1px solid #b8b8b8;
}
.hns0Q .j-Qov {
    width: 320px;
    margin-top: 44px;
}
.hns0Q .j-Qov .lxN4X {
    width: 100%;
    margin-top: 32px;
}

.f3uQo {
    min-width: 100%;
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
html[data-theme=light] .f3uQo {
    background-color: #fff;
}
.f3uQo .SB4GP {
    width: 1312px;
    margin-left: auto;
    margin-right: auto;
}
.fpnFq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 128px 120px;
}
html[data-theme=light] .fpnFq {
    background-color: #fff;
}
html[data-theme=light] .fpnFq ._964A3 {
    color: #131316;
}
.fpnFq ._964A3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
.fpnFq ._95zYh {
    width: 320px;
    margin-top: 44px;
}
.fpnFq ._95zYh .d6gb5 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
    color: #878787;
}