body.v3-body .wc-wallet {
    padding-top: 50px;
}
.wc-wallet {
    background-color: #f6f7f9;
}
.f25e176f {
    position: relative;
}
.topLayoutWraper {
    background-color: #f5f5f5;
}
.topLayoutWraper .topLayoutNav {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;
}
.topLayoutWraper .topLayoutNav a.back, .topLayoutWraper .topLayoutNav span.back {
    margin-right: 17px;
}
.topLayoutWraper .topLayoutNav a.focus, .topLayoutWraper .topLayoutNav span.focus {
    color: #131316;
    font-weight: 400;
}
.topLayoutWraper .topLayoutNav a, .topLayoutWraper .topLayoutNav span {
    margin-right: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #878787;
    display: flex;
    align-items: center;
    justify-content: center;
}
.depositWithdrawWraper .warper {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.depositWithdrawWraper .slideLayout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
}
.depositWithdrawWraper .slideLayout .leftSlide {
    max-width: 760px;
    width: 60%;
    padding-bottom: 100px;
}
.depositWithdrawWraper dl {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.depositWithdrawWraper dd, .depositWithdrawWraper dl, .depositWithdrawWraper h1, .depositWithdrawWraper h2, .depositWithdrawWraper h3, .depositWithdrawWraper h4, .depositWithdrawWraper h5, .depositWithdrawWraper h6, .depositWithdrawWraper p, .depositWithdrawWraper ul {
    margin-bottom: 0;
}
dt {
    font-weight: 500;
}
.depositWithdrawWraper .slideLayout .leftSlide h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131316;
}
.depositWithdrawWraper .slideLayout .leftSlide .leftMain {
    width: 75%;
    max-width: 538px;
}
.depositWithdrawWraper .slideLayout .leftSlide span.laber {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 4px;
    display: block;
}
.depositWithdrawWraper .slideLayout .currencySelectList, .depositWithdrawWraper .slideLayout .networkSelectList {
    width: 100%;
}
._83857b91 {
    position: relative;
    display: inline-block;
}
._83857b91 ._9f048623 {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all .35s;
}
.depositWithdrawWraper .slideLayout .leftSlide .leftMain .currencySelectList input {
    font-size: 15px;
}
.depositWithdrawWraper .slideLayout .currencySelectList input, .depositWithdrawWraper .slideLayout .networkSelectList input {
    height: 48px;
    line-height: 48px;
}
._83857b91 ._9f048623 ._44765a39 {
    flex: 1;
    height: 30px;
    padding: 0 24px 0 10px;
    min-height: 28px;
    min-width: 120px;
    line-height: 28px;
    color: #2a2a2a;
    cursor: pointer;
    outline: 0;
    border: none;
    box-shadow: none;
    border-radius: 4px;
}
._83857b91 ._9f048623 ._9089f0db {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    transition: all .35s;
    border-bottom: none;
    border-top-color: #616161;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.depositWithdrawWraper .marginTop32 {
    margin-top: 32px;
}
.polo-input-default {
    border-color: #ccc;
    background-color: transparent;
}
.polo-input-huge {
    height: 52px;
}
.polo-input {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 4px;
    align-items: center;
    transition: all .35s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-color: #ccc;
}

.polo-input-huge>input {
    padding: 0 12px;
}
.polo-input.left>input {
    text-align: left;
}
.depositWithdrawWraper .slideLayout .leftSlide .addressWraperBywhitelistEnabled a, .depositWithdrawWraper .slideLayout .leftSlide .polo-input a {
    color: #878787;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 10px;
}
.polo-input>input {
    flex: 1;
    width: 100%;
    height: 100%;
    outline: none;
    color: initial;
    font-weight: 600;
    line-height: 24px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color: #131316;
}
.depositWithdrawWraper .marginTop24 {
    margin-top: 24px;
}
._83857b91 ._9f048623:hover {
    border-color: #1a8f5c;
}
.depositWithdrawWraper .slideLayout .rightSlide {
    max-width: 427px;
    width: 31%;
}
.depositWithdrawWraper .slideLayout .depositRelatedWraper {
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
    padding: 32px;
}
.depositWithdrawWraper .slideLayout .depositRelatedWraper h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131316;
}
.depositWithdrawWraper .warper {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.topLayoutWraper .historyWraper {
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}
.topLayoutWraper .historyWraper h4 {
    font-size: 17px;
    line-height: 28px;
    color: #131316;
}
.ant-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    line-height: unset;
    cursor: pointer;
}
.topLayoutWraper .historyWraper .historyNav, .topLayoutWraper .historyWraper .polo-btn-mini {
    padding-left: 8px;
    padding-right: 8px;
}
.polo-btn-text.polo-btn-primary {
    color: #131316;
}
.depositWithdrawWraper .addressMain .polo-btn-mini, .depositWithdrawWraper .historyNav, .depositWithdrawWraper .relateBtn {
    padding: 0;
}
.topLayoutWraper .historyWraper .historyNav div, .topLayoutWraper .historyWraper .polo-btn-mini div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.topLayoutWraper .historyWraper .historyNav svg, .topLayoutWraper .historyWraper .polo-btn-mini svg {
    margin-left: 8px;
}
.depositWithdrawWraper .addressMain .polo-btn-mini svg, .depositWithdrawWraper .historyNav svg, .depositWithdrawWraper .relateBtn svg {
    width: 16px;
    height: 16px;
    transform: rotateY(180deg);
}
.ant-table-wrapper {
    zoom: 1;
}
.ant-table-wrapper:after, .ant-table-wrapper:before {
    display: table;
    content: "";
}
.ant-spin-nested-loading {
    position: relative;
}
.ant-table-wrapper:after {
    clear: both;
}
.ant-table {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    clear: both;
}
.topLayoutWraper .historyWraper .ant-table-body {
    border-color: #fafafa;
    border-top-width: 1px !important;
    border-top-style: solid !important;
    margin-top: 24px;
    padding-top: 24px;
}
.ant-table-empty .ant-table-body {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
.ant-table-tbody>tr>td, .ant-table-thead>tr>th {
    padding: 16px 16px;
    overflow-wrap: break-word;
}
.ant-table-thead>tr>th {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    transition: background .3s ease;
}

.f745756d .ant-table-thead th {
    padding: 10px 0;
    color: #afafb0;
    background: inherit;
    font-size: 12px;
    border-bottom: none;
}
.ant-table table {
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}
.topLayoutWraper .historyWraper .ant-table-body .ant-table-thead th {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    color: #616161;
    background: #fafafa;
}
.ant-table-thead>tr:first-child>th:first-child {
    border-top-left-radius: 4px;
}
.f745756d .ant-table-placeholder {
    display: flex;
    margin-top: 0;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
}
.ant-table-placeholder {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding: 16px 16px;
    color: rgba(0, 0, 0, .25);
    font-size: 14px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
}
.f745756d .empty-wrapper .empty-img {
    display: block;
    margin: 0 auto 15px;
    width: 46px;
    height: 42px;
}
.f745756d .empty-wrapper .empty-text {
    font-size: 12px;
    line-height: 14px;
    color: #818181;
}

.vfm--fixed {
    position: fixed;
}
.vfm--inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.vfm--prevent-none {
    pointer-events: none;
}
.vfm--overlay {
    z-index: -1;
    background-color: #00000080;
}
html[data-uniframe-theme=light] .uniframe-root.vfm__content {
    background-color: #fff;
    box-shadow: 0 6px 16px #0000004d;
}
.uniframe-root.vfm__content {
    --border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
}
.e2b79a2c {
    position: relative;
    padding: 24px;
    width: 448px;
}
html[data-uniframe-theme=light] .e2b79a2c .b14bb9d6 {
    color: #131316;
}
.e2b79a2c .b14bb9d6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 1.4em;
}
.e2b79a2c .f3564e86 {
    margin-bottom: 16px;
}
.e2b79a2c .f3564e86 .caf7723c {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 4px;
    text-transform: capitalize;
    color: #878787;
}
html[data-uniframe-theme=light] .c6df21d0 {
    border-color: #ccc;
}
.c6df21d0 {
    position: relative;
    display: flex;
    border: 1px solid;
    border-radius: 4px;
}
.c6df21d0 .e1d7e7fd {
    position: relative;
    min-width: 30px;
    padding-right: 16px;
    white-space: nowrap;
}
html[data-uniframe-theme=light] .c6df21d0 .e1d7e7fd p {
    color: #878787;
}
.c6df21d0 .e1d7e7fd p {
    position: relative;
    margin: 0;
    padding-left: 40px;
    font-size: 16px;
    line-height: 52px;
}
.c6df21d0 .e1d7e7fd p:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.c6df21d0 .e1d7e7fd p:first-child:after {
    bottom: 6px;
}
.c6df21d0 .e1d7e7fd p:after {
    content: "";
    position: absolute;
    left: 17.75px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
}
.vfm--absolute {
    position: absolute;
}
html[data-uniframe-theme=light] .c6df21d0 .e1d7e7fd p:first-child:before {
    background-color: #1a8f5c;
}
html[data-uniframe-theme=light] .c6df21d0 .e1d7e7fd p:after {
    background-color: #e3e3e3;
}
.c6df21d0 .e1d7e7fd p:last-child:before {
    background-color: #d64d4f;
}
.c6df21d0 .d67d38d2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
}
.c6df21d0 .d67d38d2 .a27dd43c {
    position: relative;
    top: 0;
    transition: .35s ease-in-out;
}
.a3ce13c7 {
    position: relative;
}
.a3ce13c7 .e2f26988 {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
html[data-uniframe-theme=light] .a3ce13c7 .e2f26988 span {
    color: #131316;
}
.a3ce13c7 .e2f26988 span {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}
.c6df21d0 .fc0a29a6 {
    margin: 0 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
html[data-uniframe-theme=light] .c6df21d0 .fc0a29a6 svg {
    color: #fff;
}
.c6df21d0 .fc0a29a6 svg {
    transition: all .3s;
}
html[data-uniframe-theme=light] .cec7c1d6 {
    border-color: #ccc;
}
.cec7c1d6 {
    position: relative;
    height: 50px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    line-height: 23px;
}
.cec7c1d6 .bebfaae0 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.cec7c1d6 .d082e966 {
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
    font-weight: 600;
}
html[data-uniframe-theme=light] .cec7c1d6 .d082e966 {
    color: #131316;
}
.c3e99745 .c3ca013b {
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
    outline: none;
    border: none;
    width: 0;
    flex: 1 0 auto;
    -webkit-appearance: none;
    background: none;
    text-align: left;
    box-shadow: none;
    color: #131316;
}
html {
    --antd-wave-shadow-color: #1a8f5c;
}
html[data-uniframe-theme=light] .uniframe-root.vfm__content>.icon-close {
    color: #2b2b2e;
}
.uniframe-root.vfm__content>.icon-close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0000;
    width: 24px;
    height: 24px;
    transition: opacity .3s;
}