.ed1e27a3 {
    margin: 8px;
    display: flex;
    flex: 1;
    position: relative;
}
html[data-theme=light] .ed1e27a3.f7624ee7 .d4d24d97 {
    border-color: #e3e3e3;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .3);
}

.f06f2df1 .ad8a0de7 .ef27dd05 {
    margin-left: 4px;
    width: 11px;
    height: 11px;
}
html[data-theme=dark] .f06f2df1 .ad8a0de7 .ef27dd05 {
    color: #b8b8b8;
}
html[data-theme=dark] .d5e5a2f1 .e6b0be8e .c780de9c {
    color: #b8b8b8;
}
.f06f2df1 .ad8a0de7 .e6b0be8e {
    display: flex;
    align-items: center;
}

.f06f2df1>li {
    margin-left: 10px;
}
.e6b0be8e .c780de9c {
    vertical-align: top;
    width: 16px;
    height: 16px;
}
.e6b0be8e {
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    padding: 0 5px;
    transition: color .2s;
    color: #878787;
}
.a7092df3 {
    width: 1px;
    overflow: hidden;
    background-color: var(--border-color);
}
 .e6b0be8e.c542570a,  .e6b0be8e:hover {
    color: var(--text-color);
    font-weight: 700;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
html[data-theme=light] .d31bb42e .card, html[data-theme=light] .d31bb42e .e62681cd {
    border: none;
}
.ed1e27a3.f7624ee7 .d4d24d97 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 420px;
    min-height: 420px;
    border: 1px solid transparent;
}
.ed1e27a3 .d4d24d97 {
    position: relative;
    z-index: 20;
}
.w-0 {
    width: 0;
}
.flex-1 {
    flex: 1 0 auto;
}
.e14f4b26 .cae6acea {
    height: 60vh;
    min-height: 554px;
    margin-bottom: 8px;
}
html[data-theme=light] .d31bb42e .card, html[data-theme=light] .d31bb42e .e62681cd {
    border: none;
}
.e14f4b26 .ce65d161 {
    margin-right: 8px;
}

.f0ebd5a0 {
    position: relative;
    height: 100%;
}
html[data-theme=light] .d9d76915 {
    --border-color: #e3e3e3;
}
.d9d76915 {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 9px;
    height: 32px;
    border-bottom: 1px solid var(--border-color);
}
.f06f2df1 {
    display: flex;
}
.f06f2df1>li {
    margin-left: 10px;
}
.el-dropdown {
    --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
    --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
    --el-dropdown-menuItem-hover-color: var(--el-color-primary);
    --el-dropdown-menu-index: 10;
    display: inline-flex;
    position: relative;
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);
    line-height: 1;
    vertical-align: top;
}
.c1ffc6e0, .d09e8c81 {
    width: 100%;
    height: 0;
    flex: 1 0 auto;
}
.c1ffc6e0, .d09e8c81 {
    width: 100%;
    height: 0;
    flex: 1 0 auto;
}
.bfd5c32f {
    height: 100%;
    width: 100%;
}