 .e814c547 .a031e8a5 {
    color: var(--inactive-text-color);
}
.e814c547 .a031e8a5 {
    display: flex;
    align-items: flex-end;
    border-radius: var(--layout-trade-border-radius) var(--layout-trade-border-radius) 0 0;
    background-color: var(--card-bg);
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid var(--border-line);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 34px;
    padding-bottom: 3px;
}

 .e814c547 .a031e8a5 li.f9994809 {
    color: var(--text-color);
}
.e814c547 .a031e8a5 li.f9994809 {
    font-weight: 600;
}
.e814c547 .a031e8a5 li {
    margin-left: 16px;
    cursor: pointer;
    text-align: center;
}
 .e814c547 .a031e8a5 {
    color: var(--text-color);
    border-bottom-color: var(--border-line);
}
.e814c547 .e4fc3f26 {
    margin-left: calc(0px - var(--layout-trade-margin));
}
.h-0 {
    height: 0;
}
.flex-1 {
    flex: 1 0 auto;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.cec2b3b6, .d261a685 {
    min-width: 280px;
    width: 280px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: none !important;
}
.cec2b3b6, .d261a685, .e814c547 .bdf2ca92 li:last-child {
    margin-left: var(--layout-trade-margin);
}
.f632e7cd {
    height: 100%;
}

.edcb3351 {
    padding: 10px 15px;
    align-items: center;
}
.f72a9c3b li {
    width: 26px;
    height: 24px;
    margin-left: 4px;
    padding: 5px 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color .2s;
}
.f72a9c3b li:first-child {
    margin-left: 0;
}
html[data-theme=dark] .fc6cde42 i {
    background-color: #119e5f;
}
.f72a9c3b i:first-child {
    margin-top: 0;
}
.f72a9c3b i {
    height: 2px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-size: 0;
    width: 100%;
    margin-top: 2px;
}
html[data-theme=dark] .cf1eccfe i {
    background-color: #d64d4f;
}
 .f72a9c3b li.a2b4a58f,  .f72a9c3b li:hover {
    background-color: var(--card-bg-hover);
}
 .e603599a i:first-child,  .e603599a i:nth-child(2) {
    background-color: #d64d4f;
}
 .e603599a i:nth-child(3),  .e603599a i:nth-child(4) {
    background-color: #119e5f;
}
.f72a9c3b {
    display: flex;
    justify-content: space-between;
}
.ffe5a84f {
    margin-right: -4px;
}
.ffe5a84f>div {
    height: 24px;
    min-width: auto;
}
.a736caf8 {
    display: flex;
    align-items: stretch;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.a736caf8 .el-dropdown, .c43dab78 {
    display: flex;
    width: 100%;
}
.ffe5a84f .el-dropdown>span {
    padding-right: 0;
    background-color: transparent;
}
.c43dab78 {
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    justify-content: right;
    align-items: center;
    background-color: transparent;
}
html[data-theme=dark] .c43dab78 span {
    color: #fff;
}
.c43dab78 span {
    white-space: nowrap;
}
html[data-theme=dark] .c43dab78 .ae68dd92 {
    color: #b8b8b8;
}
.c43dab78 .ae68dd92 {
    width: 16px;
    min-width: 16px;
    height: 16px;
    transition: transform .3s;
}
 .fbaac962 {
    color: var(--text-color);
}
.fbaac962 {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.hdlknsls .fbaac962{
    background-image: linear-gradient(rgba(26,143,92,.1),rgba(26,143,92,.1));
    transition: tranform .3s;
    height: 17px;
}
.ksj343js .fbaac962{
     background-image: linear-gradient(rgba(196,71,73,.1),rgba(196,71,73,.1));
    transition: tranform .3s;
    height: 17px;
}
.add4c847 {
    width: 28%;
}
html[data-theme=dark] .e96cc2c8>* {
    color: #878787;
}
.b946a8ff {
    flex: 1 0 auto;
    text-align: right;
}
.b893d92b {
    width: 35%;
    text-align: right;
}
.c213652d {
    padding: 4px 1px;
}
.c213652d .cbe10470.e792ba77 {
    align-items: flex-end;
}
.c213652d .cbe10470 {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
}
.a2b1d9f5 {
    width: 100%;
}
.c213652d.f642df92 .e792ba77 .el-scrollbar__view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.fbaac962 {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
html[data-theme=dark] .c213652d .cbe10470.e792ba77 .add4c847{
    color: #d64d4f;
}
.c213652d .f8581459 {
    flex-shrink: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
 .a9537268 {
    color: var(--text-color);
}

.a9537268 .a3334039 {
    margin-left: 2px;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: opacity .3s;
}
.a9537268 {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    letter-spacing: .15px;
}
.c5d35a84 {
    margin-left: 4px;
    font-size: 12px;
    letter-spacing: .15px;
    border-bottom: 1px dashed var(--inactive-text-color);
    line-height: 14px;
    color: var(--inactive-text-color);
}

html[data-theme=dark] .c213652d .cbe10470.d850b396 .add4c847 {
    color: #119e5f;
}
.c213652d .cbe10470 .fbaac962 {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 1px;
    overflow: hidden;
    cursor: pointer;
}
 .c213652d .cbe10470 .fbaac962:hover{
    background-color: #2b2b2e0d;
}
html[data-theme=light] .fbaac962 {
    color: #2b2b2e;
}
html[data-theme=light] .fc6cde42 i {
    background-color: #1a8f5c;
}
html[data-theme=light] .cf1eccfe i {
    background-color: #c44749;
}
html[data-theme=light] .f72a9c3b li.a2b4a58f, html[data-theme=light] .f72a9c3b li:hover {
    background-color: #f2f2f2;
}
html[data-theme=dark] .c213652d .cbe10470 .fbaac962:hover{
    background-color: #2b2b2e;
}
html[data-theme=light] .e603599a i:first-child, html[data-theme=light] .e603599a i:nth-child(2) {
    background-color: #c44749;
}
html[data-theme=light] .e603599a i:nth-child(3), html[data-theme=light] .e603599a i:nth-child(4) {
    background-color: #1a8f5c;
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine-dark .ag-header-cell {
    font-size: 12px;
    font-weight: 400;
}
.ag-header-cell, .ag-header-group-cell {
    padding-left: var(--ag-cell-horizontal-padding);
    padding-right: var(--ag-cell-horizontal-padding);
}
[class^=ag-], [class^=ag-]:after, [class^=ag-]:before, [class^=ag-]:focus {
    box-sizing: border-box;
    outline: none;
}
.ag-header-cell {
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.ag-header-cell, .ag-header-row {
    position: absolute;
    overflow: hidden;
}
.ag-ltr .ag-header-cell-resize {
    right: -4px;
}
.ag-header-cell-resize {
    display: flex;
    align-items: center;
}
[class^=ag-], [class^=ag-]:after, [class^=ag-]:before, [class^=ag-]:focus {
    box-sizing: border-box;
    outline: none;
}
.ag-header-cell-resize {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 8px;
    top: 0;
    cursor: ew-resize;
}
.polo-empty .noLogin a {
    color: #1a8f5c;
}
.ag-hidden {
    display: none !important;
}
 .polo-empty .noLogin {
    color: var(--text-color);
}
.po-ag-thc-global-tooltip-label {
    color: var(--inactive-text-color) ;
    display: inline-block;
    line-height: 16px;
    border-bottom: 1px dashed var(--border-line);
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine-dark .ag-header-cell {
    font-size: 12px;
    font-weight: 400;
}
.ag-ltr .ag-body, .ag-ltr .ag-body-horizontal-scroll, .ag-ltr .ag-body-viewport, .ag-ltr .ag-floating-bottom, .ag-ltr .ag-floating-top, .ag-ltr .ag-header {
    flex-direction: row;
}
.ag-body-viewport.ag-layout-normal {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
[class^=ag-], [class^=ag-]:after, [class^=ag-]:before, [class^=ag-]:focus {
    box-sizing: border-box;
    outline: none;
} 
.ag-body-viewport {
    display: flex;
}
.ag-body-horizontal-scroll-viewport, .ag-body-viewport, .ag-center-cols-viewport, .ag-floating-bottom-viewport, .ag-floating-top-viewport, .ag-header-viewport, .ag-sticky-top-viewport, .ag-virtual-list-viewport {
    position: relative;
    height: 100%;
    min-width: 0;
    overflow: hidden;
    flex: 1 1 auto;
}
[class^=ag-], [class^=ag-]:after, [class^=ag-]:before, [class^=ag-]:focus {
    box-sizing: border-box;
    outline: none;
}
.ag-body-container, .ag-body-horizontal-scroll-container, .ag-center-cols-container, .ag-floating-bottom-container, .ag-floating-bottom-full-width-container, .ag-floating-top-container, .ag-full-width-container, .ag-header-container, .ag-pinned-left-cols-container, .ag-pinned-right-cols-container, .ag-sticky-top-container, .ag-virtual-list-container {
    position: relative;
}
.ag-center-cols-clipper {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    min-height: 100%;
    transform: translateZ(0);
}
.ag-center-cols-viewport {
    width: 100%;
    overflow-x: auto;
}
.ag-center-cols-container, .ag-pinned-right-cols-container {
    display: block;
}
html[data-theme=light] .polo-empty .noLogin {
    color: #2b2b2e;
}
.polo-empty .noLogin {
    font-size: 14px;
    line-height: 20px;
    pointer-events: auto;
    padding-left: 12px;
    padding-right: 12px;
}
html[data-theme=light] .polo-empty .noLogin a {
    color: #1a8f5c;
}
.polo-empty .noLogin a {
    padding-left: 4px;
    padding-right: 4px;
}
.ag-overlay-wrapper {
    flex: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ag-overlay-panel, .ag-overlay-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}
.ag-overlay {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.c213652d .cbe10470.e792ba77 .a36c8eee {
    background-color: #c44749;
}
