.OFn6O {
    display: flex;
    position: sticky;
    top: 50px;
    font-size: 16px;
    font-weight: 400;
    z-index: 5;
    margin-bottom: 12px;
    -webkit-user-select: none;
    user-select: none
}

html[data-theme=light] .OFn6O {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2
}

html[data-theme=dark] .OFn6O {
    background-color: #131316;
    border-bottom: 1px solid #2b2b2e
}

.OFn6O .tngut {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 36px;
    transition: all .3s
}

html[data-theme=light] .OFn6O .tngut {
    color: #616161
}

html[data-theme=dark] .OFn6O .tngut {
    color: #b8b8b8
}

.OFn6O .tngut+.tngut {
    margin-left: 32px
}

.OFn6O .tngut.hy-hw {
    font-weight: 600
}

html[data-theme=light] .OFn6O .tngut.hy-hw {
    color: #131316
}

html[data-theme=dark] .OFn6O .tngut.hy-hw {
    color: #fff
}

.OFn6O .tngut.hy-hw:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
}

html[data-theme=light] .OFn6O .tngut.hy-hw:after {
    background-color: #1a8f5c
}

html[data-theme=dark] .OFn6O .tngut.hy-hw:after {
    background-color: #119e5f
}

.JIDcs {
    padding: 20px 0;
    display: flex;
    gap: 12px;
    font-size: 12px;
    font-weight: 400;
    position: sticky;
    top: 87px;
    z-index: 4;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-user-select: none;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.JIDcs::-webkit-scrollbar {
    display: none
}

html[data-theme=light] .JIDcs {
    background-color: #fff
}

html[data-theme=dark] .JIDcs {
    background-color: #131316
}

.JIDcs .aDkxg {
    line-height: 24px;
    border-radius: 12px;
    padding: 0 16px;
    transition: all .3s;
    white-space: nowrap
}

html[data-theme=light] .JIDcs .aDkxg {
    color: #616161;
    background-color: #f2f2f2
}

html[data-theme=dark] .JIDcs .aDkxg {
    color: #b8b8b8;
    background-color: #2b2b2e
}

html[data-theme=light] .JIDcs .aDkxg.zkjmH {
    color: #fff;
    background-color: #131316
}

html[data-theme=dark] .JIDcs .aDkxg.zkjmH {
    color: #131316;
    background-color: #fff
}

.C7jTF {
    position: fixed;
    z-index: 10000;
    right: var(--4f5bece2);
    bottom: var(--16fc4118);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s;
    cursor: pointer
}

html[data-theme=light] .C7jTF,
html[data-theme=dark] .C7jTF {
    color: #fff;
    background-color: #000
}

.C7jTF .ZLp3c {
    transform: rotate(90deg)
}

.C7jTF.kk8JU {
    opacity: 1
}

.n7ezR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 80px 0
}

.n7ezR .rhgSe {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%
}

html[data-theme=light] .n7ezR .rhgSe {
    background-image: url(https://v3.polo-static.com/polo-web/static/svg/no-data-5722d70d.svg)
}

html[data-theme=dark] .n7ezR .rhgSe {
    background-image: url(https://v3.polo-static.com/polo-web/static/svg/no-data.dark-77a87092.svg)
}

.n7ezR .euNLt {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px
}

html[data-theme=light] .n7ezR .euNLt,
html[data-theme=dark] .n7ezR .euNLt {
    color: #878787
}

._7uvvw {
    animation: Xvuht 1s infinite linear
}

@keyframes Xvuht {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.Y-sDb {
    position: relative;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center
}

.Y-sDb .NBF2s {
    margin-right: 4px
}

html[data-theme=light] .Y-sDb .NBF2s,
html[data-theme=dark] .Y-sDb .NBF2s {
    color: #1a8f5c
}

.Y-sDb .ZW-t5 {
    font-size: 16px;
    font-weight: 400
}

html[data-theme=light] .Y-sDb .ZW-t5,
html[data-theme=dark] .Y-sDb .ZW-t5 {
    color: #878787
}

.GgOiQ {
    padding: 0 32px 0 20px;
    position: relative
}

.GgOiQ .jPxxA {
    position: relative
}

.GgOiQ .jPxxA .JKwYC {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 16px
}

html[data-theme=light] .GgOiQ .jPxxA .JKwYC {
    color: #878787
}

html[data-theme=dark] .GgOiQ .jPxxA .JKwYC {
    color: #b8b8b8
}

.GgOiQ .jPxxA .rYvwl {
    position: absolute;
    height: 8px;
    width: 8px;
    top: calc(50% - 4px);
    left: -20px;
    border-radius: 50%;
    z-index: 1
}

html[data-theme=light] .GgOiQ .jPxxA .rYvwl {
    background-color: #fff;
    border: 1px solid #b8b8b8
}

html[data-theme=dark] .GgOiQ .jPxxA .rYvwl {
    background-color: #000;
    border: 1px solid #616161
}

.GgOiQ .o6g3h {
    position: relative;
    cursor: pointer
}

.GgOiQ .o6g3h ._3mTRq {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px
}

html[data-theme=light] .GgOiQ .o6g3h ._3mTRq {
    color: #131316
}

html[data-theme=dark] .GgOiQ .o6g3h ._3mTRq {
    color: #fff
}

html[data-theme=light] .GgOiQ .o6g3h ._3mTRq:hover {
    color: #1a8f5c
}

html[data-theme=dark] .GgOiQ .o6g3h ._3mTRq:hover {
    color: #119e5f
}

.GgOiQ .o6g3h .LDFfP {
    display: -webkit-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-all
}

html[data-theme=light] .GgOiQ .o6g3h .LDFfP {
    color: #616161
}

html[data-theme=dark] .GgOiQ .o6g3h .LDFfP {
    color: #b8b8b8
}

.GgOiQ .o6g3h .LDFfP.WbqBn {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.GgOiQ .giRSg {
    position: absolute;
    height: calc(100% + 40px);
    width: 2px;
    top: 12px;
    left: 3px
}

html[data-theme=light] .GgOiQ .giRSg {
    background-color: #f2f2f2
}

html[data-theme=dark] .GgOiQ .giRSg {
    background-color: #1f1f24
}

.GgOiQ .p0qMJ {
    padding: 0;
    width: 24px;
    position: absolute;
    right: -32px;
    bottom: 0
}

.GgOiQ .p0qMJ .EpOcF {
    transition: transform .3s;
    transform: rotate(-90deg)
}

html[data-theme=light] .GgOiQ .p0qMJ .EpOcF {
    color: #131316
}

html[data-theme=dark] .GgOiQ .p0qMJ .EpOcF {
    color: #fafafa
}

.GgOiQ .p0qMJ .EpOcF.q-cGt {
    transform: rotate(90deg)
}

.GgOiQ .dj5ro {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px
}

.GgOiQ .dj5ro .kLaN0 {
    width: 242px;
    height: 128px;
    border-radius: 8px;
    overflow: hidden
}

.GgOiQ+.GgOiQ {
    margin-top: 40px
}

.GgOiQ:last-child .giRSg {
    height: calc(100% - 10px)
}

.dW8lD .u1A0u {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 16px;
    position: sticky;
    top: 144px;
    z-index: 2
}

html[data-theme=light] .dW8lD .u1A0u {
    color: #131316;
    background-color: #fff
}

html[data-theme=dark] .dW8lD .u1A0u {
    color: #fff;
    background-color: #131316
}

.dW8lD+.dW8lD {
    margin-top: 40px
}

.GuKQe {
    margin-top: 44px
}

.EROv1 {
    padding: 0 100px 0 0;
    position: relative;
    display: flex;
    gap: 24px;
    justify-content: space-between
}

.EROv1 ._7BB-I .-xL9T {
    display: -webkit-box;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

html[data-theme=light] .EROv1 ._7BB-I .-xL9T {
    color: #131316
}

html[data-theme=dark] .EROv1 ._7BB-I .-xL9T {
    color: #fff
}

html[data-theme=light] .EROv1 ._7BB-I .-xL9T:hover {
    color: #1a8f5c
}

html[data-theme=dark] .EROv1 ._7BB-I .-xL9T:hover {
    color: #119e5f
}

.EROv1 ._7BB-I .TzbKO {
    display: flex;
    gap: 8px;
    margin-top: 24px
}

.EROv1 ._7BB-I .TzbKO .KXmXk,
.EROv1 ._7BB-I .TzbKO .isKlp {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400
}

html[data-theme=light] .EROv1 ._7BB-I .TzbKO .isKlp,
html[data-theme=light] .EROv1 ._7BB-I .TzbKO .KXmXk {
    color: #616161
}

html[data-theme=dark] .EROv1 ._7BB-I .TzbKO .isKlp,
html[data-theme=dark] .EROv1 ._7BB-I .TzbKO .KXmXk {
    color: #b8b8b8
}

.EROv1 ._9Ur7o {
    width: 208px;
    height: 110px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0
}

.EROv1+.EROv1 {
    margin-top: 32px
}

.AXisP {
    margin-top: 44px
}

html[data-entry=feed] {
    min-width: 1200px
}

html[data-entry=feed][data-theme=light] #root {
    background-color: #fff
}

html[data-entry=feed][data-theme=dark] #root {
    background-color: #131316
}

html[data-entry=feed] #root {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.qylDb {
    width: 960px;
    max-width: 960px;
    padding: 100px 0 76px
}

.qylDb .AVcW4 {
    padding: 20px 0 44px
}

#root {
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}

.x-p5P img {
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: var(--45db92c4);
}

html[data-theme=light] .x-p5P .YLEBB {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAMAAADypuvZAAAArlBMVEUAAAAeHh6lpaU3NzcUFBQbGxtQUFCdnZ2hoaGqqqqWlpagoKBubm6hoaGoqKhGRkYtLS0jIyOkpKQbGxsAAABVVVWHh4cyMjJfX18gICAbGxsAAAAoKCgdHR08PDwfHx+fn58bGxtzc3Otra2fn58qKiqqqqqnp6eMjIykpKSZmZk2NjZGRkZVVVUYGBggICB9fX0cHByioqKdnZ2lpaUdHR1gYGAaGhqenp4hISGdcLYLAAAAOnRSTlMAMzMzDSYzDSYGMzMzEywzMzMtMAMDMzMzIC8GMxozGRATMxkgBgMgMyoKJi8zIBAzLRYaMCwwHR0X2YY4DQAAAURJREFUeF690cduwzAQRVEN1axiSS5xTWI7vff6/z8WgoDxlIFIcTZ++7O4M8Fhd5d5gukzUKquvdhuEreRUudXfSSKiRhS46GTrDXhyLCtPWZD1I2UNW0zIQuysuiVyInU+K2jvwfxi0yfiFwIu832RMf4IaTtQDyQeTZivFH+lZAQFWWYqLwWofI01Eips8YbzeowNAisD82SMARS+WM/KhYaABmWuFGhYzjSu2kc6AUECGkMIYYhbDHqQDkIQ0hjqCgBgDir/yH0dyKk3QNFx3M/pAYtRKNGjojAJEizuRSZIU2ANJMjpAkQmAAhTYLAJAhpEgT2IEerk6O0EqLlZaA3rAQojva17x+e6DMKsOzCiRBjANigF30zgjQrik2/hXGEfsuyn260+rUAXIQh9NuXVgwtWYwtrYXWiOnZNjjs/gC4gRpokDPS3wAAAABJRU5ErkJggg==) no-repeat center #f2f2f2;
    background-size: var(--d45f4f3c) auto;
}

.x-p5P .YLEBB {
    width: 100%;
    height: var(--0d8faabd);
    border-radius: 8px;
}