.oLTck {
    margin: 0 auto;
    width: 960px;
}
.oLTck .PlcZk {
    display: flex;
    height: 100px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}
html[data-theme=dark] .H49R4 {
    background: url(https://v3.polo-static.com/polo-web/static/svg/logo.dark-af76d976.svg) no-repeat left center;
    background-size: 160px 54px;
}

.H49R4 {
    padding-left: 172px;
    font-size: 35px;
    color: #818181;
    background: url(https://v3.polo-static.com/polo-web/static/svg/logo-0cd70030.svg) no-repeat left center;
    background-size: 160px 54px;
}

.oLTck .PlcZk .VmPBX {
    width: 240px;
}
.el-input--large {
    --el-input-height: var(--el-component-size-large);
    font-size: 14px;
}

.el-input {
    --el-input-height: var(--el-component-size);
    position: relative;
    font-size: var(--el-font-size-base);
    display: inline-flex;
    width: var(--el-input-width);
    line-height: var(--el-input-height);
    box-sizing: border-box;
    vertical-align: middle;
    --el-input-text-color: var(--el-text-color-regular);
    --el-input-border: var(--el-border);
    --el-input-hover-border: var(--el-border-color-hover);
    --el-input-focus-border: var(--el-color-primary);
    --el-input-transparent-border: 0 0 0 1px transparent inset;
    --el-input-border-color: var(--el-border-color);
    --el-input-border-radius: var(--el-border-radius-base);
    --el-input-bg-color: var(--el-fill-color-blank);
    --el-input-icon-color: var(--el-text-color-placeholder);
    --el-input-placeholder-color: var(--el-text-color-placeholder);
    --el-input-hover-border-color: var(--el-border-color-hover);
    --el-input-clear-hover-color: var(--el-text-color-secondary);
    --el-input-focus-border-color: var(--el-color-primary);
    --el-input-width: 100%;
}

.AfiAJ {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .AfiAJ {
        display: none;
    }
}

.AfiAJ .e9ZrX img {
    margin-bottom: 0;
    width: 100%;
    height: 280px !important;
    min-width: 536px;
}

.AfiAJ ._0iKou {
    display: flex;
    flex: 1;
    padding: 0 20px;
    align-items: center;
    transition: all .3s ease-in-out;
}

.AfiAJ ._0iKou:hover {
    box-shadow: 0 0 15px #00000026;
}

.AfiAJ .slHi6 {
    color: #818181;
}

.AfiAJ .slHi6 .Ckbd2 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

html[data-theme=dark] .AfiAJ .slHi6 .Ckbd2 {
    color: #fff;
}

.AfiAJ .slHi6 ._8T1X9 {
    line-height: 1.5;
    margin-bottom: 20px;
}

html[data-theme=dark] .AfiAJ .slHi6 ._8T1X9 {
    color: #b8b8b8;
}

.AfiAJ .O9Ins {
    display: flex;
    gap: 40px;
}

.AfiAJ .O9Ins svg {
    margin-right: 4px;
}

html[data-theme=dark] .AfiAJ .O9Ins {
    color: #b8b8b8;
}

.Qw7FG {
    display: flex;
    padding: 32px 0 20px;
    gap: 12px;
}

.Qw7FG .APYda {
    padding: 8px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    color: #616161;
    background-color: #6161611a;
}

html[data-theme=dark] .Qw7FG .APYda {
    color: #b8b8b8;
}

.H2m1z {
    display: grid;
    margin: 24px 0 64px;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, 304px);
}

@media screen and (max-width: 700px) {
    .H2m1z {
        display: block;
        margin-top: 12px;
    }
}

.H2m1z .-Aq2e {
    display: block;
    transition: all .3s ease-in-out;
}

.H2m1z .-Aq2e:hover {
    box-shadow: 0 0 15px #00000026;
}

.H2m1z .yKTHV {
    display: flex;
    padding: 0 12px 12px;
    min-height: 265px;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .H2m1z .yKTHV {
        min-height: auto;
        padding-bottom: 32px;
    }
}

.H2m1z .yKTHV ._2B4w0 {
    flex: 1;
}

.H2m1z .eb0Ve {
    display: flex;
    margin-bottom: 5px;
    margin-top: 12px;
    height: 34px;
    gap: 12px;
}

.H2m1z .eb0Ve ._8skYO {
    display: flex;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
    color: #1a8f5c;
    align-items: center;
    white-space: nowrap;
    background-color: #31c2a91a;
}

.H2m1z .Mq0jn {
    margin-bottom: 12px;
    padding-top: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

html[data-theme=dark] .H2m1z .Mq0jn {
    color: #fff;
}

.H2m1z .XRUB6 {
    color: #818181;
    line-height: 1.5;
    word-break: break-all;
}

html[data-theme=dark] .H2m1z .XRUB6 {
    color: #b8b8b8;
}

.H2m1z .SK4vZ {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.H2m1z .h-hYG {
    color: #818181;
}

.H2m1z .h-hYG svg {
    margin-right: 4px;
}

@media screen and (max-width: 700px) {
    .H2m1z .h-hYG {
        padding-top: 24px;
    }
}

html[data-theme=dark] .H2m1z .h-hYG {
    color: #b8b8b8;
}

.H2m1z .h-hYG span:first-child {
    margin-right: 40px;
}

.H2m1z .MrpWS {
    margin-top: 24px;
    width: 960px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .H2m1z .MrpWS {
        width: unset;
    }
}

html[data-entry=blog][data-theme=light] #root {
    background-color: #fff
}

html[data-entry=blog][data-theme=dark] #root {
    background-color: #131316
}

html[data-entry=blog] #root {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    flex: 1 0 auto;
} 

.el-input--large {
    --el-input-height: var(--el-component-size-large);
    font-size: 14px;
}
.el-input--large .el-input__wrapper {
    padding: 1px 15px;
}

.el-input__prefix-inner {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.el-input__prefix {
    display: inline-flex;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    text-align: center;
    color: var(--el-input-icon-color, var(--el-text-color-placeholder));
    transition: all var(--el-transition-duration);
    pointer-events: none;
}
.el-input--large .el-input__inner {
    --el-input-inner-height: calc(var(--el-input-height, 40px) - 2px);
}

.el-input__inner {
    --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--el-input-text-color, var(--el-text-color-regular));
    font-size: inherit;
    height: var(--el-input-inner-height);
    line-height: var(--el-input-inner-height);
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    box-sizing: border-box;
}

.el-input--large .el-input__wrapper {
    padding: 1px 15px;
}

.el-input__wrapper {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-color: var(--el-input-bg-color, var(--el-fill-color-blank));
    background-image: none;
    border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
    cursor: text;
    transition: var(--el-transition-box-shadow);
    transform: translateZ(0);
    box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
}
html[data-theme=light] .jRLsY.wzmE4 {
    --web-core-button-text-color: #ffffff;
    --web-core-button-bg-color: #1a8f5c;
    --web-core-button-bd-color: #1a8f5c;
    --web-core-button-hover-text-color: #ffffff;
    --web-core-button-hover-bg-color: #106f44;
    --web-core-button-hover-bd-color: #106f44;
    --web-core-button-disabled-text-color: #b8b8b8;
    --web-core-button-disabled-bg-color: #f2f2f2;
    --web-core-button-disabled-bd-color: #f2f2f2;
}

.jRLsY[data-size=medium] {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}
.jRLsY {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    outline: 0;
    transition: background-color .2s, border-color .2s, color .2s;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    padding: 4px 16px;
    border-radius: 4px;
    color: var(--web-core-button-text-color);
    background-color: var(--web-core-button-bg-color);
    border: 1px solid var(--web-core-button-bd-color);
}


 


.Rd6zT a {
    font-size: 35px;
    color: #000;
}

html[data-theme=dark] .Rd6zT a {
    color: #1a8f5c;
}


.el-scrollbar {
    --el-scrollbar-opacity: .3;
    --el-scrollbar-bg-color: var(--el-text-color-secondary);
    --el-scrollbar-hover-opacity: .5;
    --el-scrollbar-hover-bg-color: var(--el-text-color-secondary)
}

.el-scrollbar {
    overflow: hidden;
    position: relative;
    height: 100%
}

.el-scrollbar__wrap {
    overflow: auto;
    height: 100%;
    scrollbar-color: #909399 #f2f2f2; /* Adding background color for scrollbar track */
    scrollbar-width: thin; /* Ensuring the scrollbar is visible */
}

.el-scrollbar__wrap--hidden-default {
    scrollbar-width: none
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    display: none
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--el-scrollbar-bg-color,var(--el-text-color-secondary));
    transition: var(--el-transition-duration) background-color;
    opacity: var(--el-scrollbar-opacity,.3)
}

.el-scrollbar__thumb:hover {
    background-color: var(--el-scrollbar-hover-bg-color,var(--el-text-color-secondary));
    opacity: var(--el-scrollbar-hover-opacity,.5)
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px
}

.el-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px
}

.el-scrollbar__bar.is-vertical>div {
    width: 100%
}

.el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px
}

.el-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.el-scrollbar-fade-enter-active {
    transition: opacity .34s ease-out
}

.el-scrollbar-fade-leave-active {
    transition: opacity .12s ease-out
}

.el-scrollbar-fade-enter-from,.el-scrollbar-fade-leave-active {
    opacity: 0
}
 