._13a24c25 {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



._9f5410cf {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

._7e10efe9 {
    font-size: 2em;
}

.a25ba7d9 {
    font-size: 3em;
}

.ff5d998d {
    font-size: 4em;
}

._4961b7a6 {
    font-size: 5em;
}

.d74353ae {
    width: 1.28571em;
    text-align: center;
}

._631a3dc3 {
    padding-left: 0px;
    margin-left: 2.14286em;
    list-style-type: none;
}

._631a3dc3>li {
    position: relative;
}

._5f8dd364 {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.142857em;
    text-align: center;
}

._5f8dd364._9f5410cf {
    left: -1.85714em;
}

.a5ec0ea0 {
    padding: 0.2em 0.25em 0.15em;
    border: 0.08em solid rgb(238, 238, 238);
    border-radius: 0.1em;
}

._0bc04b29 {
    float: left;
}

.fc81ca26 {
    float: right;
}

._13a24c25._0bc04b29 {
    margin-right: 0.3em;
}

._13a24c25.fc81ca26 {
    margin-left: 0.3em;
}

._91ae0735 {
    float: right;
}

._644bc069 {
    float: left;
}

._13a24c25._644bc069 {
    margin-right: 0.3em;
}

._13a24c25._91ae0735 {
    margin-left: 0.3em;
}

._4306d8e6 {
    animation: 2s linear 0s infinite normal none running _4306d8e6;
}

._094808b0 {
    animation: 1s steps(8) 0s infinite normal none running _4306d8e6;
}

@-webkit-keyframes _4306d8e6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes _4306d8e6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

._1208d029 {
    transform: rotate(90deg);
}

._5d531bad {
    transform: rotate(180deg);
}

.d102bb9a {
    transform: rotate(270deg);
}

.f80859ff {
    transform: scaleX(-1);
}

.f2ec6457 {
    transform: scaleY(-1);
}

:root ._5d531bad,
:root ._1208d029,
:root .d102bb9a,
:root .f2ec6457,
:root .f80859ff {
    filter: none;
}

.d33d1d44 {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

._561c1a65,
.ee99cd3e {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
}

._561c1a65 {
    line-height: inherit;
}

.ee99cd3e {
    font-size: 2em;
}

._32095805 {
    color: rgb(255, 255, 255);
}

.afd1c617 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px;
}

.d54d7961:active,
.d54d7961:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0px;
    overflow: visible;
    clip: auto;
}

._10d2343b ._54c35763 {
    min-height: 56px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 24px 4px;
    justify-content: space-between;
    color: rgb(19, 19, 22);
}

body.dark-theme ._10d2343b ._54c35763 {
    color: rgb(255, 255, 255);
}

._10d2343b .f1585a67 {
    cursor: pointer;
}

._10d2343b ._3ed9059b {
    padding: 0px 24px;
}

._10d2343b ._3ed9059b ._7b18afae {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 0px 24px;
    color: rgb(43, 43, 46);
}

body.dark-theme ._10d2343b ._3ed9059b ._7b18afae {
    color: rgb(255, 255, 255);
}

._10d2343b .e62895b5 {
    padding: 0px 24px 24px;
}

._10d2343b ._6a7c73e2 {
    gap: 24px;
    display: flex;
    justify-content: flex-end;
}

._10d2343b ._6a7c73e2>button {
    flex: 1 1 0%;
}

._24086cdf {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.a67543fb {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

._771f5236 {
    font-size: 2em;
}

._72584c2b {
    font-size: 3em;
}

._7ecf87cf {
    font-size: 4em;
}

._0c3d46df {
    font-size: 5em;
}

._1ad4b508 {
    width: 1.28571em;
    text-align: center;
}

.d19477c2 {
    padding-left: 0px;
    margin-left: 2.14286em;
    list-style-type: none;
}

.d19477c2>li {
    position: relative;
}

.a8147cd8 {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.142857em;
    text-align: center;
}

.a8147cd8.a67543fb {
    left: -1.85714em;
}

._3349e544 {
    padding: 0.2em 0.25em 0.15em;
    border: 0.08em solid rgb(238, 238, 238);
    border-radius: 0.1em;
}

.c7dfe9ba {
    float: left;
}

._93a5b555 {
    float: right;
}

._24086cdf.c7dfe9ba {
    margin-right: 0.3em;
}

._24086cdf._93a5b555 {
    margin-left: 0.3em;
}

.ab7acd9d {
    float: right;
}

.e70ad51f {
    float: left;
}

._24086cdf.e70ad51f {
    margin-right: 0.3em;
}

._24086cdf.ab7acd9d {
    margin-left: 0.3em;
}

._589785f7 {
    animation: 2s linear 0s infinite normal none running _589785f7;
}

.dc814217 {
    animation: 1s steps(8) 0s infinite normal none running _589785f7;
}

@-webkit-keyframes _589785f7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes _589785f7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

._461d5752 {
    transform: rotate(90deg);
}

.bdee985a {
    transform: rotate(180deg);
}

._1c748e49 {
    transform: rotate(270deg);
}

.c04752e1 {
    transform: scaleX(-1);
}

.b749f9fd {
    transform: scaleY(-1);
}

:root ._1c748e49,
:root ._461d5752,
:root .b749f9fd,
:root .bdee985a,
:root .c04752e1 {
    filter: none;
}

.e551bc5e {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

._7b7cf214,
._68e5a04e {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
}

._7b7cf214 {
    line-height: inherit;
}

._68e5a04e {
    font-size: 2em;
}

.d1d21d87 {
    color: rgb(255, 255, 255);
}

.b5e60bcc {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px;
}

._93d5f922:active,
._93d5f922:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0px;
    overflow: visible;
    clip: auto;
}

._606fbc58 {
    color: rgb(19, 19, 22);
}

body.dark-theme ._606fbc58 {
    color: rgb(255, 255, 255);
}

.af20599b {
    flex: 1 1 0px;
    padding-right: 12px;
    justify-content: space-between;
}

.af20599b,
.af20599b ._9f52deff {
    display: flex;
    align-items: center;
}

.af20599b ._9f52deff {
    height: 24px;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 24px;
    padding: 0px 8px 0px 4px;
}

.af20599b ._9f52deff._5cbf9edd {
    color: rgb(26, 143, 92);
    background-color: rgba(26, 143, 92, 0.1);
}

body.dark-theme .af20599b ._9f52deff._5cbf9edd {
    color: rgb(17, 158, 95);
    background-color: rgba(17, 158, 95, 0.1);
}

.af20599b ._9f52deff._15715739 {
    color: rgb(196, 71, 73);
    background-color: rgba(196, 71, 73, 0.1);
}

body.dark-theme .af20599b ._9f52deff._15715739 {
    color: rgb(196, 71, 73);
    background-color: rgba(196, 71, 73, 0.1);
}

.af20599b ._9f52deff._8aa9cc70 {
    color: rgb(229, 153, 64);
    background-color: rgba(229, 153, 64, 0.1);
}

body.dark-theme .af20599b ._9f52deff._8aa9cc70 {
    color: rgb(150, 89, 17);
    background-color: rgba(150, 89, 17, 0.1);
}

.fb818ee7 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.f81824cf {
    margin-top: 4px;
}

._05771f8a {
    overflow: hidden;
    margin-top: 16px;
    border-radius: 8px;
}

._05771f8a dl {
    margin: 0px;
    width: 100%;
    padding: 0px 3px;
    min-height: 44px;
}

._05771f8a dl,
._05771f8a dl dt {
    display: flex;
    align-items: center;
}

._05771f8a dl dt {
    min-width: 174px;
}

._05771f8a dl dd {
    flex: 1 1 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}

._05771f8a dl:first-child {
    background: linear-gradient(90deg, rgba(26, 143, 92, 0.05) 4.37%, rgba(26, 143, 92, 0) 101.6%);
}

._05771f8a dl:first-child dt {
    color: rgb(26, 143, 92);
}

body.dark-theme ._05771f8a dl:first-child dt {
    color: rgb(17, 158, 95);
}

._05771f8a dl:nth-child(2) {
    background: linear-gradient(90deg, rgba(147, 229, 64, 0.05) 4.52%, rgba(229, 153, 64, 0) 95.19%);
}

._05771f8a dl:nth-child(2) dt {
    color: rgb(229, 153, 64);
}

body.dark-theme ._05771f8a dl:nth-child(2) dt {
    color: rgb(150, 89, 17);
}

._05771f8a dl:nth-child(3) {
    background: linear-gradient(90deg, rgba(229, 153, 64, 0.05) 4.52%, rgba(229, 153, 64, 0) 95.19%);
}

._05771f8a dl:nth-child(3) dt {
    color: rgb(229, 153, 64);
}

body.dark-theme ._05771f8a dl:nth-child(3) dt {
    color: rgb(150, 89, 17);
}

._05771f8a dl:nth-child(4) {
    background: linear-gradient(90deg, rgba(196, 71, 73, 0.05) 1.75%, rgba(196, 71, 73, 0));
}

._05771f8a dl:nth-child(4) dt,
body.dark-theme ._05771f8a dl:nth-child(4) dt {
    color: rgb(196, 71, 73);
}

._5e81b574 {
    margin-top: 12px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
}

body.dark-theme ._5e81b574 {
    border-color: rgb(43, 43, 46);
    background-color: transparent;
}

._5e81b574 ._609fdc83 {
    display: flex;
    padding: 0px 12px;
    font-size: 14px;
    font-weight: 400;
    min-height: 36px;
    line-height: 20px;
    align-items: center;
}

._5e81b574 ._409b5496 dl {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(242, 242, 242);
    border-right-color: rgb(242, 242, 242);
    border-bottom-color: rgb(242, 242, 242);
    border-left-color: rgb(242, 242, 242);
}

body.dark-theme ._5e81b574 ._409b5496 dl {
    border-color: rgb(43, 43, 46);
}

._5e81b574 ._409b5496 dt {
    width: 84px;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    padding: 12px;
    color: rgb(135, 135, 135);
}

body.dark-theme ._5e81b574 ._409b5496 dt {
    color: rgb(97, 97, 97);
}

._5e81b574 ._409b5496 dd {
    flex: 1 1 0%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 12px 16px;
    border-left: 1px solid rgb(242, 242, 242);
    border-top-color: rgb(242, 242, 242);
    border-right-color: rgb(242, 242, 242);
    border-bottom-color: rgb(242, 242, 242);
}

body.dark-theme ._5e81b574 ._409b5496 dd {
    border-color: rgb(43, 43, 46);
}

._5e81b574 ._409b5496 dd>a {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: underline;
}