

._8bd1fa56 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ca57027e {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

._97d3ff04 {
    font-size: 2em
}

._10c6aab9 {
    font-size: 3em
}

._6785c3ea {
    font-size: 4em
}

._3a6b96fe {
    font-size: 5em
}

._1c803066 {
    width: 1.28571429em;
    text-align: center
}

._7f455f39 {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

._7f455f39>li {
    position: relative
}

._4685a69d {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

._4685a69d.ca57027e {
    left: -1.85714286em
}

._21aedbb2 {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

._9ace70b6 {
    float: left
}

.b7122320 {
    float: right
}

._8bd1fa56._9ace70b6 {
    margin-right: .3em
}

._8bd1fa56.b7122320 {
    margin-left: .3em
}

._49444fe6 {
    float: right
}

.b131ab97 {
    float: left
}

._8bd1fa56.b131ab97 {
    margin-right: .3em
}

._8bd1fa56._49444fe6 {
    margin-left: .3em
}

.c510abcc {
    -webkit-animation: c510abcc 2s linear infinite;
    animation: c510abcc 2s linear infinite
}

.e30cf8ee {
    -webkit-animation: c510abcc 1s steps(8) infinite;
    animation: c510abcc 1s steps(8) infinite
}

@-webkit-keyframes c510abcc {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

@keyframes c510abcc {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

._42817242 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg)
}

._3e5370bd {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg)
}

._57649656 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    transform: rotate(270deg)
}

.ce3a0a60 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    transform: scaleX(-1)
}

._344fffe1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    transform: scaleY(-1)
}

:root ._3e5370bd,:root ._344fffe1,:root ._42817242,:root ._57649656,:root .ce3a0a60 {
    filter: none
}

._3605d13d {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.b93b1955,.e31e14c2 {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.e31e14c2 {
    line-height: inherit
}

.b93b1955 {
    font-size: 2em
}

.b93cb313 {
    color: #fff
}

._756d2d5a {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.b470f714:active,.b470f714:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

._58875e24 {
    z-index: 1000200;
    position: absolute;
    border-radius: 8px
}

._58875e24._048ada67:before {
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1000200;
    background: #fff;
    position: absolute;
    border-radius: 50%
}

._58875e24._048ada67 ._71d4289c {
    visibility: hidden
}

._58875e24 ._71d4289c {
    width: 280px;
    padding: 12px;
    background: #fff;
    border-radius: 8px
}

._58875e24 .bb4a3105 {
    position: absolute;
    display: inline-block;
    border: 6px solid transparent
}

._58875e24 .bb4a3105[placement^=bottom] {
    bottom: 100%;
    border-bottom-color: #fff
}

._58875e24 .bb4a3105[placement^=left] {
    top: 50%;
    left: 100%;
    border-left-color: #fff;
    transform: translateY(-50%)
}

._58875e24 ._17b9e35d {
    display: flex
}

._58875e24 ._17b9e35d ._041f5925 {
    flex: 1;
    padding-left: 8px;
    padding-bottom: 16px
}

._58875e24 ._17b9e35d ._041f5925 p {
    margin: 0;
    color: #131316
}

._58875e24 ._17b9e35d ._041f5925 .ef977bdf {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px
}

._58875e24 ._17b9e35d ._041f5925 ._7ff3d09f {
    font-size: 14px;
    padding-top: 4px;
    line-height: 20px
}

._58875e24 .d44aba4a {
    display: flex;
    justify-content: space-between
}

._58875e24 .d44aba4a .ee4cd985 {
    color: #878787;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px
}

._58875e24 .d44aba4a .ee4cd985 b {
    color: #131316
}

._58875e24 .d44aba4a ._80bd1167 span {
    cursor: pointer;
    padding: 4px 14px;
    border-radius: 2px;
    display: inline-block;
    transition: color .35s,background-color .35s
}

._58875e24 .d44aba4a ._80bd1167 ._28850b28 {
    color: #878787;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-right: 10px
}

._58875e24 .d44aba4a ._80bd1167 ._28850b28:hover {
    color: #1f1f24
}

._58875e24 .d44aba4a ._80bd1167 ._26a5e35d {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background: #131316
}

._58875e24 .d44aba4a ._80bd1167 ._26a5e35d:hover {
    background: rgba(19,19,22,.9)
}

._58875e24 .d44aba4a ._70011a98 {
    flex: 1;
    display: flex;
    justify-content: center
}

.c806c316 {
    border-radius: 8px;
    background-color: #fff
}

body.dark-theme .c806c316 {
    background-color: #131316
}

.c806c316:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000200;
    position: absolute;
    border: 1px dashed;
    border-radius: 8px;
    border-color: #000
}

body.dark-theme .c806c316:before {
    border-color: #fff
}
