
body.dark-theme ._83857b91 .fd95b42d {
  color: #b8b8b8;
}

body.dark-theme ._83857b91 ._9f048623,body.dark-theme ._83857b91.cd5a5a9d ._9f048623:hover {
  border-color: #555;
}

body.dark-theme ._83857b91 ._9f048623:hover {
  border-color: #1a8f5c;
}

body.dark-theme ._83857b91 ._9f048623 input {
  color: #fafafa;
  background: #1f1f24;
}

body.dark-theme ._83857b91.cd5a5a9d input {
  background: #2b2b2e;
}

._83857b91 {
  position: relative;
  display: inline-block;
}

._83857b91.b3b13e0e ._9f048623 {
  height: 40px;
}

._83857b91.b3b13e0e ._9f048623 input {
  width: 100%;
  height: 100%;
  border-color: #d1d1d1;
  border-radius: 5px;
}

._83857b91.cd5a5a9d {
  pointer-events: none;
}

._83857b91.cd5a5a9d ._9f048623 input {
  background: #f2f2f2;
}

._83857b91.cd5a5a9d ._9f048623:hover {
  border-color: #ccc;
}

._83857b91 .fd95b42d {
  color: #878787;
  font-size: 12px;
  line-height: 18px;
}

._83857b91.b98e14d0 .fd95b42d {
  padding-right: 8px;
}

._83857b91._8a25e73a .fd95b42d {
  padding-bottom: 6px;
}

._83857b91 ._9f048623 {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all .35s;
}

._83857b91 ._9f048623:hover {
  border-color: #1a8f5c;
}

._83857b91 ._9f048623 .a4af882f {
  padding-left: 14px;
}

._83857b91 ._9f048623 ._44765a39 {
  flex: 1;
  height: 30px;
  padding: 0 24px 0 10px;
  min-height: 28px;
  min-width: 120px;
  line-height: 28px;
  color: #2a2a2a;
  cursor: pointer;
  outline: 0;
  border: none;
  box-shadow: none;
  border-radius: 4px;
}

._83857b91 ._9f048623 ._44765a39[disabled] {
  cursor: not-allowed;
}

._83857b91 ._9f048623 ._44765a39::-moz-placeholder {
  color: #878787;
}

._83857b91 ._9f048623 ._44765a39:-ms-input-placeholder {
  color: #878787;
}

._83857b91 ._9f048623 ._44765a39::placeholder {
  color: #878787;
}

._83857b91 ._9f048623 ._9089f0db {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  transition: all .35s;
  border-bottom: none;
  border-top-color: #616161;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

._83857b91 ._9f048623 ._9089f0db._5f5dcbb9 {
  transform: translateY(-50%) rotate(180deg);
}

._1658a9d7 {
  display: flex;
  justify-content: space-between;
}

._1658a9d7>span:first-child {
  text-align: left;
  width: 0;
  flex: 1 0 auto;
}

._1658a9d7>span:nth-child(2),._1658a9d7>span:nth-child(3) {
  text-align: right;
  flex-shrink: 0;
  width: 76px;
  padding-left: 4px;
}

.cb90cb9d {
  padding-bottom: 50px;
}

.cb90cb9d ._90130be4 {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}

.cb90cb9d ._431e36a9 {
  display: flex;
  align-items: center;
  padding: 40px 0 24px;
  justify-content: space-between;
}

.cb90cb9d ._431e36a9 .a6f0eb07 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #2b2b2e;
}

body.dark-theme .cb90cb9d ._431e36a9 .a6f0eb07 {
  color: #fff;
}

.cb90cb9d ._431e36a9 .a6f0eb07>a {
  font-size: 24px;
}

.cb90cb9d ._431e36a9 ._4b16a15a {
  display: flex;
}

.cb90cb9d ._88ee40ba {
  gap: 0 8px;
  display: flex;
}

.cb90cb9d ._88ee40ba ._31b024e8 {
  width: 50%;
  border: 1px solid;
  border-radius: 4px;
  background-color: #fff;
  border-color: #f2f2f2;
}

body.dark-theme .cb90cb9d ._88ee40ba ._31b024e8 {
  background-color: #131316;
  border-color: #2b2b2e;
}

.cb90cb9d ._88ee40ba ._31b024e8 ._8d23d66b {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding: 24px 24px 4px;
  color: #2b2b2e;
}

body.dark-theme .cb90cb9d ._88ee40ba ._31b024e8 ._8d23d66b {
  color: #fff;
}

.cb90cb9d ._88ee40ba ._31b024e8 .b11f5fa0 {
  padding: 12px 24px;
}

.cb90cb9d ._88ee40ba ._31b024e8 .ea5d1793 {
  display: flex;
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 12px;
  color: #878787;
}

body.dark-theme .cb90cb9d ._88ee40ba ._31b024e8 .ea5d1793 {
  color: #616161;
}

.cb90cb9d ._88ee40ba ._31b024e8 .ea5d1793 span {
  flex: 1 1 0;
  text-align: left;
}

.cb90cb9d ._88ee40ba ._31b024e8 .ea5d1793 span:last-child {
  text-align: right;
}

.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 {
  height: 17px;
  font-size: 12px;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: .2px;
  background-position: 100%;
  background-repeat: no-repeat;
  color: #2b2b2e;
}

body.dark-theme .cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 {
  color: #fff;
}

.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 span:first-child {
  font-weight: 600;
}

.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 span {
  flex: 1 1 0;
}

.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 span:nth-child(2),.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 span:nth-child(3) {
  width: auto;
  text-align: left;
}

.cb90cb9d ._88ee40ba .ebe49bb2 .cdbeb268 span:last-child {
  text-align: right;
}

.cb90cb9d ._88ee40ba .ebe49bb2._2588f124 .cdbeb268 {
  margin-top: 1px;
  background-image: linear-gradient(rgba(196,71,73,.1),rgba(196,71,73,.1));
}

.cb90cb9d ._88ee40ba .ebe49bb2._2588f124 .cdbeb268 span:first-child,body.dark-theme .cb90cb9d ._88ee40ba .ebe49bb2._2588f124 .cdbeb268 span:first-child {
  color: #c44749;
}

.cb90cb9d ._88ee40ba .ebe49bb2._688ed1be .cdbeb268 {
  margin-bottom: 1px;
  background-image: linear-gradient(rgba(26,143,92,.1),rgba(26,143,92,.1));
}

.cb90cb9d ._88ee40ba .ebe49bb2._688ed1be .cdbeb268 span:first-child {
  color: #1a8f5c;
}

body.dark-theme .cb90cb9d ._88ee40ba .ebe49bb2._688ed1be .cdbeb268 span:first-child {
  color: #119e5f;
}

@media screen and (max-width:550px) {
  .a7ddb18f .ba0dfc48 {
    display: none;
  }

}

@media screen and (max-width:550px) {
  .ccf482a6 {
    min-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

}

@media screen and (max-width:500px) {
  .b26b640a {
    max-width: 95vw;
    padding-left: 12px;
    padding-right: 12px;
  }

}

@media (max-width:500px) {
  .fe6f7ce0 .ef8295d7 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  .fe6f7ce0 .dfddd2ce {
    font-size: 22px;
    width: 22px;
    height: 26px;
    line-height: 26px;
  }

}

@media (max-width:500px) {
  .be5d23c5 .d9218a3a {
    min-width: 296px;
  }

  .be5d23c5 .d9218a3a .fdb58477 {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }

  .be5d23c5 .d9218a3a .f453e4c1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .be5d23c5 .d9218a3a .ff765108 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

}

@media (max-width:767px) {
  .ant-modal {
    max-width: calc(100vw - 16px);
    margin: 8px auto;
  }

  .ant-modal-centered .ant-modal {
    flex: 1;
  }

}

@media (max-width:767px) {
  .ant-col-sm-24.ant-form-item-label {
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.5;
    white-space: normal;
    text-align: left;
  }

  .ant-col-sm-24.ant-form-item-label label:after {
    display: none;
  }

}

@media screen and (max-width:550px) {
  .a7ddb18f .ba0dfc48 {
    display: none;
  }

}

@media screen and (max-width:550px) {
  .ccf482a6 {
    min-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

}

@media (max-width:500px) {
  .fe6f7ce0 .ef8295d7 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  .fe6f7ce0 .dfddd2ce {
    font-size: 22px;
    width: 22px;
    height: 26px;
    line-height: 26px;
  }

}

@media (max-width:500px) {
  .be5d23c5 .d9218a3a {
    min-width: 296px;
  }

  .be5d23c5 .d9218a3a .fdb58477 {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }

  .be5d23c5 .d9218a3a .f453e4c1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .be5d23c5 .d9218a3a .ff765108 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

}

@media screen and (max-width:550px) {
  .a7ddb18f .ba0dfc48 {
    display: none;
  }

}

@media screen and (max-width:550px) {
  .ccf482a6 {
    min-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

}

@media (max-width:500px) {
  .fe6f7ce0 .ef8295d7 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  .fe6f7ce0 .dfddd2ce {
    font-size: 22px;
    width: 22px;
    height: 26px;
    line-height: 26px;
  }

}

@media (max-width:500px) {
  .be5d23c5 .d9218a3a {
    min-width: 296px;
  }

  .be5d23c5 .d9218a3a .fdb58477 {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }

  .be5d23c5 .d9218a3a .f453e4c1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .be5d23c5 .d9218a3a .ff765108 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

}